[2018-09-04 17:19] Cyan4973 commented on #560
There is indeed an issue with level 9 of latest version of LZ4.
The quick work around is to use level 8 instead, since it doesn't use the suspected part of the code.

[2018-09-05 13:37] scheff173 commented on #555
@Cyan4973

You may replace "seems to" with "does". ;-) IMHO, a better doc. can be found e.g. in cppreference.com [`clock()`](https://en.cppreference.com/w/c/chrono/clock):

[2018-09-05 21:07] #560 closed

[2018-09-05 21:08] Cyan4973 commented on #560
Issue fixed in #562, now merged into `dev` branch.
The fix will be part of next release.

[2018-09-05 21:44] #551 closed

[2018-09-05 23:13] Cyan4973 commented on #544
We have no plan to add another build macro and associated preprocessor instructions
for the purpose of improving runtime speed of debug builds.

If this is an important use case for you, you may simply modify the source file, typically by making `LZ4_isLittleEndian()` a constant.

[2018-09-05 23:13] #544 closed

[2018-09-05 23:19] Cyan4973 commented on #485
We have updated our tooling and library source code
to deal with pointer arithmetic and overflow risks,
especially when source pointer is at a very low address range, where risks are maximized.

We hope that it will work nicely with your target platform `OS/400`.

If it doesn't, we're happy to help and investigate.

Save any news on this topic, I'll close this thread in the near future.

[2018-09-05 23:28] Cyan4973 commented on #451
Is there still a problem regarding `lz4` tests on alpine linux for armhf ?

Quick googling delivers this :
https://pkgs.alpinelinux.org/package/v3.8/main/armhf/lz4

which I interpret as : "it works fine on alpine linux for armhf".

Save any news on this topic, I'll close this thread in the near future.

[2018-09-06 00:51] Cyan4973 commented on #555
Measuring elapsed time is fixed in `dev` branch.
I used this opportunity to also introduce a `cpu load` indicator, so that one can know if the observed speed is primarily cpu or I/O driven.

Minor detail :
in order to output elapsed time when using `lz4`, I had to use command `-vv`, not `-v` as reported above.

[2018-09-06 00:51] #555 closed

[2018-09-06 01:10] Cyan4973 commented on #546
As a follow up,
latest proposal for `lz4frame.h` API is to introduce 2 new constants,
`LZ4F_INIT_PREFERENCES` and `LZ4F_INIT_FRAMEINFO`,
which, as the name implies, can be used to initialize relevant structures
as an alternative to `memset()`.

Both method are guaranteed to remain valid in the future, should any change happen.
`memset()` is more universal, as it also works for prior versions.

For

[2018-09-06 22:08] #558 closed

[2018-09-07 08:25] hsiangkao opened #566 "Is there any possible to introduce partially decompression to lz4 library?"
Hi,
We introduced a new read-only file system EROFS with compression support to the Linux kernel.

In order to enhance the random read and reduce the memory overhead for the file system, we introduce partially decompression at head in byte-unit (stop decompression at the arbitrary position,not just as sequence-unit like LZ4_decompress_safe_partial but byte-unit since there is no extra memory to us

[2018-09-07 10:20] JoachimSchneider commented on #485
Hello Yann,

thank you for the information. I will test the new LZ4 on OS/400. During the next week i'll tell you the results.

Regards,
Joachim

On Wed, 5 Sep 2018, Yann Collet wrote:

--
%%
% Dr. Joachim Schneider
%
% SAP on IBM i, DB/OS Platforms
% SAP SE, Dietmar-Hopp-Allee 16, 69190 Walldorf, Germany
%
% Tel.: +49/6227/7-68715
% mailto: joachim.schneider@sap.com
%%

%%%%%%%%%%%%%%%%%%%%%%%%%%

[2018-09-07 16:58] Cyan4973 commented on #566
Hi @hsiangkao ,

this is interesting,
so far we received no strong request to develop this exact feature,
and the general feeling was that it could add some unwanted load right into the critical loop, reducing decompression performance.

That being said, this wasn't investigated thoroughly, and there might be ways to hide the performance issue.

[2018-09-07 23:36] Cyan4973 commented on #566
In branch `partialDecode`, you'll find an experimental source code providing the requested feature.

It's accessible through existing function `LZ4_decompress_safe_partial()`, which now offers the guarantee to never write beyond `targetOutputSize` bytes.
The function signature remains identical, in order to not break API (yes, there are users of this function).

[2018-09-09 19:55] MiloszKrajewski opened #568 "New "interoperable LZ4 port" for .NET Standard 1.6+"
Hi Yann,

I'm not sure if this is the best place to put it ("issues") but I would like to ask you to link my new "interoperable LZ4 port" for .NET Standard 1.6+ (which includes .NET Core 1.0, .NET Framework 4.6, Mono, Xamarin and UWP) from LZ4 website. It replaces (also mine) lz4net.

Thanks,
Milosz Krajewski

[2018-09-10 17:28] Cyan4973 commented on #568
Sure @MiloszKrajewski ! Great work !
Your version is added : https://lz4.github.io/lz4/#interoperable-lz4.

[2018-09-10 17:28] #568 closed

[2018-09-10 20:12] #546 closed

[2018-09-10 20:12] #451 closed

[2018-09-11 17:02] Cyan4973 commented on #566
merged into `dev`

[2018-09-11 17:02] #566 closed

[2018-09-12 05:45] JoachimSchneider commented on #485
Hello Yann,

i have tested your updated tooling and library source code on
OS/400. The tests were based on a clone of the git repository from Sep
07 2018 (git clone -b dev https://github.com/lz4/lz4.git).

I had to do some slight modifications to make it work on OS/400. These
modifcations were necessary because

(a) The OS/400 platform uses 16-bit pointers. At one  place a logic like
     'if not

[2018-09-12 08:06] hsiangkao commented on #566
Thanks Cyan, I will look into that. :+1 : )
and I think some performance optimization paths could be implemented later, it will reduce compression file system extra memory overhead as much as possible :)

Thanks,
Gao Xiang

[2018-09-12 08:29] hsiangkao commented on #566
@Cyan4973,

(continued...)
I mean at least we could add a new API, and do some further customized optimization paths for exactly the nb of bytes requested.
I am looking into the latest code and port to the linux kernel to remove my hacked code (unzip_vle_lz4.c).

Thanks,
Gao Xiang

[2018-09-13 06:58] JoachimSchneider commented on #485
Hello Yann,
i have attached the missing ZIP-archive:
[OS400_LZ4.ZIP](https://github.com/lz4/lz4/files/2378031/OS400_LZ4.ZIP)
Greetings,
Joachim

[2018-09-13 19:42] Cyan4973 commented on #485
Thanks @JoachimSchneider ,
I downloaded your package, it's full of interesting learnings.
I'll study it a bit more, and see what can be used for upstream version.

[2018-09-14 12:11] DiegoTUI opened #576 "Decompress in streaming keeping memory low"
Hi there,

I am building an application that receives TCP connections sending streams of data previously compressed by the sending party using lz4. I need to decompress the data and pipe it to the next stage of the application keeping the memory used as low as possible. I've thoroughly read the docs of this implementation as well as [some issues](https://github.com/lz4/lz4/issues/394) addressing t

[2018-09-14 17:01] Cyan4973 commented on #576
Hi @DiegoTUI

Your analysis is correct.

Going into the details, it also depends if your user is sending LZ4 data using the [official frame format](https://github.com/lz4/lz4/blob/dev/doc/lz4_Frame_format.md), where the 4 MB maximum block size is defined. Otherwise, all bets are off, and it can even be worse, since the maximum API limit for a block size is [close to 2 GB](https://github.com/lz4/lz

[2018-09-15 12:09] JoachimSchneider commented on #485
Thank you for including part of my suggestions.

What can be done to include also the OS/400 specific changes (those inside the
ifdef __OS400
...
endif
parts)? They are all related to the fact that OS/400 has 16-byte pointers.

Thank you, greetings,
Joachim

[2018-09-17 05:54] DiegoTUI commented on #576
Thanks for the explanation @Cyan4973!!! My colleague @alexfernandez has build our own implementation of the LZ4 algorithm allowing intra-block streaming (it uses the sequence as the unsplittable entity instead of the block). And you a re right, we use a lot more states than you do. It's written in Javascript, and of course, it performs quite worse than this implementation. I was trying to improve

[2018-09-17 06:29] alexfernandez commented on #576
Just a small point: my implementation does not require sequences to be passed whole, it can receive random bytes. It is indeed necessary to keep a lot of state and performance is going to be much worse. It does not matter much in pure JavaScript but can be a killer in C. Hope to publish it soon! :)

[2018-09-17 23:20] Cyan4973 commented on #485
Hi @JoachimSchneider ,

For this second part, the main issue is how the API is being currently used.

`LZ4_STREAMSIZE_U64` macro constant was initially exposed to allow users to statically allocate some memory and pass that memory area to functions such as `LZ4_compress_fast_extState()` which make it possible to explicitly manage the context (which is the main consumer of memory).
The goal was to

[2018-09-19 14:21] nacho opened #582 "Please consider meson as the build system"
Quite a few projects are getting ported to meson (most of gnome is already ported, X, wayland and many others), mainly because it is easier to maintain than plain makefiles or cmake projects and supports most of the platforms out there.

[2018-09-19 18:41] Cyan4973 commented on #582
I do not plan moving away from `Makefile`.

That being said, it's perfectly possible for a community-maintained Meson build package to be hosted inside the LZ4 reference repository, the same way [one currently exists for zstd](https://github.com/facebook/zstd/tree/dev/contrib/meson).
If you are willing to write such a script, you are welcomed !

[2018-09-19 19:29] nacho commented on #582
sounds good, I'll try to come up with it when I have time. Thanks!

[2018-09-19 19:29] #582 closed

[2018-09-24 06:12] JoachimSchneider commented on #485
Hello Yann,
i already commented on your pull request (https://github.com/lz4/lz4/pull/578) --- sorry for repeating it here; with one additional change it compiles and works on AS/400:

*********************************************************************************
--- lz4.h       2018/09/20 08:57:50     1.1
+++ lz4.h       2018/09/20 09:07:54
@@ -564,7 +564,7 @@
  *         this definition is no

[2018-09-25 07:23] NoraDing opened #584 "Error 44 : Unrecognized header : file cannot be decoded #192"
When I try to decompress the *.lz4 log file which generated by spark running, the error shows as below

So I want to know which headers are marked as 'Unrecognized', and why these errors show so frequently?

Can anyone take a look at this issue?
Much appreciate .

[2018-09-25 21:49] Cyan4973 commented on #584
I have no idea how spark generates LZ4 files.

My current guess is that Spark may produce well-formed LZ4 blocks but encapsulated into some Spark-specific header/footer, that only Spark can understand.

This feels related to : https://issues.apache.org/jira/browse/HADOOP-12990

[2018-09-26 11:51] iyokan opened #585 "Feature Request: discard cache"
lz4's INPUT-FILE and OUTPUT-FILE is usually big and accessed sequential.  So more useful cached pages are discarded.  I am using local patch as follows:

[code]

Colud you please considering this feature?

[2018-09-26 18:02] Cyan4973 commented on #585
HI @iyokan ,
thanks for your suggestion.

As a preamble, I respectfully disagree with the primary statement that "OUTPUT-FILE is usually big" : this is clearly not my experience. Good news : your patch doesn't need this condition to be useful.
Even if the file is "sometimes/rarely" big, it seems like a nice idea to preserve cache memory, especially if the file is not going to be accessed again aft

[2018-09-26 20:56] #576 closed

[2018-09-26 20:57] Cyan4973 commented on #485
Patch merged into `dev`

[2018-09-26 20:57] #485 closed

[2018-09-27 01:34] iyokan commented on #585
Thank you for considering the feature.

To be honest OUTPUT-FILE is not matter with my workload.
I am using lz4 for virtual machine image backup as follows:
[code]
Under this operation the qemu-kvm process runnning on host swaps out.
Setting `vm.swappiness = 1` does not solve the problem.
O_DIRECT can't be use with fopen.  So I use fadvise.

[2018-09-27 16:19] Cyan4973 commented on #485
Thanks for the feedback @JoachimSchneider !

[2018-10-08 11:52] kaqkk opened #590 "Q: Compile time warnings"
Hi,

I'm building the version v1.8.3's "visual\VS2017\liblz4" project with vs2017. (We are trying to move to the latest version from an earlier working one). I'm getting some compile time warnings when Building X64 config. Can you confirm they are harmless (especially the last two), so I can safely suppress/ignore them? I have attached the build output. Thank you in advance!

[buildlog.txt](https:

[2018-10-08 16:06] MiloszKrajewski opened #591 "LZ4 Frame format specification"
Specification can be found in two places:
1) doc (https://github.com/lz4/lz4/blob/master/doc/lz4_Frame_format.md)
2) wiki (https://github.com/lz4/lz4/wiki/lz4_Frame_format.md)

The problem is that wiki one is the one returned by googling "LZ4 Frame format". I was a little bit surprised that "dictionary id" has been removed from header. Surprised or not, I've seen it with my own eyes: "it is not lo

[2018-10-10 01:08] Cyan4973 commented on #591
Sorry for the misunderstanding @MiloszKrajewski .
Indeed, I completely forgot that page, and it's no longer up to date.
It will be better remove it entirely,
or at least link it to the official specification within `/doc` directory,
so that a single source of truth remains.

[2018-10-10 01:19] Cyan4973 commented on #591
The wiki page now redirects to the source of truth in repository.
Thanks for reporting the discrepancy !

[2018-10-10 01:19] #591 closed

[2018-10-11 17:47] Cyan4973 commented on #590
Hi @kaqkk

As it's the first time I see these warnings from Visual, I was wondering :
are you maybe using warning level 5 ?
This level tends to be quite noisy, so we limit our tests to warning level 4.

[2018-10-11 18:03] Cyan4973 commented on #590
The first set of warnings :

tends to be harmless.

It happens every time we are using a 4-bytes `unsigned` type for an operation, which result is then added/subtracted to a large 8-bytes type.
The compiler is cautious, because in case the intermediate result would overflow, the final result would be different from expectation.

But we know (and we can guarantee) that overflowing the intermediate

[2018-10-12 16:58] Cyan4973 commented on #590
Yes, I'm just unclear if forcing this cast at this place (as opposed to: let the compiler decide) can have any impact on performance.
Probably not, but requires careful testing.

[2018-10-31 07:47] cyh2018git opened #595 "Does this algorithm support 16 bit MCU?"
Does this algorithm support 16 bit MCU? If not, will there be any subsequent support? Thanks.

[2018-11-02 07:44] Cyan4973 commented on #595
If you mean "does _the reference source code_ support 16 bit MCU",
I haven't tested it, and I suspect it would not work "as is", since the code assume that types such as `int` are 32 bits, and I'm not sure what would happen if they are 16-bit instead.

Note that LZ4, as an _algorithm_, has been ported to many platform, including older 8-bit ones. But that requires a dedicated code, optimized for t

[2018-11-02 08:09] cyh2018git commented on #595
Yes, I noticed. I have modified the int type manually, and have passed the 16 bit MCU test.

[2018-11-02 08:09] #595 closed

[2018-11-03 03:47] aaronmeierx opened #596 "lz4 extension not causing decompression"
Hi all,

Per the usage of `lz4` I see:

[code]

Now, when I run `lz4 file.lz4 file` the file is compressed again.

However, when I add `-d` (`lz4 -d file.lz4 file`) the file decompresses properly. I interpret the usage as `lz4 options+ input_file output_file` and the information under `:decompression (default for .lz4 extension)` to mean that if the input file ends with `.lz4` then it will add `-d

[2018-11-05 21:49] Cyan4973 commented on #596
Thanks for pointing that out @aaronmeierx ,
I believe this can be fixed.

[2018-11-07 16:18] andysworkshop opened #597 "LZ4F_decompress() documentation improvement"
[This line](https://github.com/lz4/lz4/blob/dev/lib/lz4frame.h#L403) states that `LZ4F_isError()` can be used on the return value. It cannot without first checking that the value is `<0`. The documentation should state that the user should first do that.

This is because `LZ4F_isError()` effectively only does `return code > -20`. The caller must first establish that they have a negative code to be

[2018-11-07 18:10] Cyan4973 commented on #597
The return type of these functions is a `size_t`.
A `size_t` is unsigned, so it cannot be negative.

`LZ4F_isError()` only works properly if you preserve the original `size_t` type.

If the return value is casted to `int` before that stage, you end up with the problem described in the question : error values become negative.

[2018-11-07 18:20] #597 closed

[2018-11-09 04:28] stokito opened #598 "[Feature] list an archive content with --list"
Almost all compressors allows to see the archive contents without of full extracting:
[code]
This allows to see a real uncompressed file size, the original file name, the original modify time and extremely useful for archive manages to show this information for a user.

For example I archived with `lzop` the file `Original File Name.txt` and then listed it's contents:
[code]

So I wanted to add `l

[2018-11-09 04:33] stokito commented on #598
The similar request I added to Zstandard https://github.com/facebook/zstd/issues/1402 and there was some related discussion with propose to use the `tar` program but that's not a convenient solution for several reasons.

[2018-11-09 04:40] Cyan4973 commented on #598
It's possible to add a `--list` option in the future.
But it won't list all the things you mention.

In particular, it won't save any filename.
Filename is assumed to be either given during decompression, or derived from compressed name.
Permissions and date/time might be saved directly in the compressed file metadata.
`--list` is not expected to mention these metadata, because they are not necess

[2018-11-10 15:49] vtorri opened #599 "feature: add installation for mingw -w64 target on MSYS2"
is it possible to add installation for mingw with MSYS2 ?

just add at line 127 of lib/Makefile

MINGW32_NT-6.1 MINGW64_NT-6.1

(that is what uname returns on MSYS2) and install the DLL in the binary path instead of the library path (uninstall  should be patched too)

[2018-11-13 15:49] ChALkeR commented on #560
/cc @Cyan4973 if you still need a short testcase =).

[2018-11-13 23:12] Cyan4973 commented on #560
Indeed @ChALkeR , the issue could impact any suite of identical character, not limited `0`. What made it rare was additional conditions related to distance.
Thanks for the test case (I guess it's fixed in v1.8.3 ?)

[2018-11-14 07:49] ChALkeR commented on #560
@Cyan4973, yes, v1.8.3 fixed everything for me, thanks!
Sorry for not making that clear enough.

[2018-11-16 19:31] Cyan4973 commented on #396
This feature has been partially implemented by @antinucleon, in #600,
enabling amalgamation of `lz4.c` and `lz4hc.c`.

`lz4frame.c` must still be compiled separately.

[2018-11-16 20:25] dcassetti opened #601 "lz4 -f with bad magic number invokes pass-through in addition to overwriting output file"
According to the command line usage:

*** LZ4 command line interface 64-bits v1.8.3, by Yann Collet ***
...
-f     : overwrite output without prompting
...

There is no mention of pass-through mode. Without -f, a bad header is reported:
$ lz4 README_first_256_bad.lz4
Error 44 : Unrecognized header : file cannot be decoded

With -f, no error occurs, and the output file is identical to the input fil

[2018-11-16 20:35] Cyan4973 commented on #601
Thanks for reporting @dcassetti .

Indeed, pass-through mode is supposed to be paired with `lz4cat`, which is equivalent to `lz4 -dcf`.

In the above example, `-d` is assumed automatically from the `.lz4` extension, while only `-f` is passed as argument. Hence `-c` is missing, and pass-through mode should not be invoked.

To be fixed.

[2018-11-16 22:09] vtorri opened #602 "feature: allow cross-compilation for Windows on unix with mingw-w64"
i have tried to cross-compile lz4 for Windows on Fedora using the mingw-w64 toolchain and I run into 2 issues :

1. on Fedora, dlltool is prefixed with the host (i686-w64-mingw32 or x86_64-w64-ingw32), but lib/Makefile uses directly the dlltool binary. Would it be possible to use a variable (like $(DLLTOOL), set to dlltool) so that I can override it when launching 'make' ?

2. the path used o acce

[2018-11-16 22:14] Cyan4973 commented on #602
Sure, a PR will be welcomed on this topic !
If you could add a build test for it, that we could automate on travis CI to make sure the feature remains available during future evolutions, this would be great !

[2018-11-17 06:57] vtorri commented on #602
PR available for /

[2018-11-17 13:20] vtorri commented on #602
another PR for dlltool

[2018-11-19 22:31] #602 closed

[2018-11-20 08:43] vtorri commented on #599
I have a patch to allow the installation with MSYS2. I'll provide a PR this evening

[2018-11-21 18:05] Cyan4973 commented on #599
Feature merged in #605

[2018-11-21 18:05] #599 closed

[2018-11-24 22:13] nh2 opened #607 "Provide lz4frame.h functionality to handle old frame format specs"
Hi,

I'm writing a binding to `lz4frame.h` from another programming language (Haskell in my case).

One thing I find challenging, where I find that the lz4 library doesn't help as much as it could yet, is handling changes in the frame format.

In my binding I would ideally not have to deal with the frame format spec at all and let everything be handled by the lz4 library. But there are certain cas

[2018-11-26 04:11] nh2 opened #608 "Export LZ4F_getBlockSize"
Right now it seems I cannot obtain the info how many bytes are taken by a given `LZ4F_blockSizeID_t`.

In particular, it's impossible to ask the API how many bytes `LZ4F_default` takes.

It would thus be great to have `LZ4F_getBlockSize` in the public API -- or even better, a compile-time macro for the same information.

[2018-11-26 17:10] nh2 opened #609 "Question about decompression loop condition"
Hey,

while trying to make my decompression loop as fast as `lz4`'s, I found something I couldn't quite figure out.

In https://github.com/lz4/lz4/blob/0983fd61eebd5123675c5afbbe5c073080c4ca96/programs/lz4io.c#L956-L970

what is the ` || (decodedBytes == ress.dstBufferSize)` part of the condition good for?

It's commented with `or still to flush`, but I cannot see how this part of the condition co

[2018-11-26 19:17] terrelln commented on #609
`LZ4F_decompress_usingDict()` sets `decodedBytes` to the number of bytes written, and `remaining` to the number of bytes read. See the documentation in https://github.com/lz4/lz4/blob/dev/lib/lz4frame.h#L380.

[2018-11-26 20:15] Cyan4973 commented on #396
With #610, @antinucleon completed this feature,
now available on `dev` branch, and will be part of next release.

[2018-11-26 20:16] #396 closed

[2018-11-26 20:50] Cyan4973 commented on #608
Right,
the maximum amount of bytes per block is supposed to be obvious from the `enum` name (`LZ4F_max64KB`, `LZ4F_max256KB`, etc.),
but it's true there is no function that returns this information in a scalar variable.
So it could be a good addition.

Perhaps more importantly, a core idea of the `LZ4F` API is that the block size should be of secondary importance : the main impact is that it direc

[2018-11-27 00:42] Cyan4973 commented on #607
I agree, the process to retrieve the frame header size is not straightforward enough.

Right now, it's possible to use `LZ4F_getFrameInfo()`.
Start at 7 bytes, which is the minimum frame header length
(alternatively, you could start from 7+4=11 bytes, which is the guaranteed minimum frame length, generating an empty frame).

Provide that input to `LZ4F_getFrameInfo()`.
If it fails with error `fram

[2018-11-28 21:51] felixhandte commented on #585
Yeah, I don't think there's a perfectly portable way to implement this. So it would have to be gated.

One alternative would be to pipe data into and out of lz4 with something that understands `O_DIRECT`. E.g., `dd iflag=direct bs=4M ... | lz4 ... | dd oflag=direct bs=4M ...`. Might be worth a shot?

[2018-11-28 22:33] bwsw commented on #585
@felixhandte It works that way, but the compression is slower than with bare LZ4, though.

[2018-11-29 00:38] nh2 commented on #608
The performance of the compression update function depends on it: If you pass in buffers that are `>=` the block size, you get on the `/* compress full blocks */` fast path in https://github.com/lz4/lz4/blob/6689dae33ba1eb588abe3d3cb763bc5dc08878b3/lib/lz4frame.c#L851-L858

This fast path avoids `memcpy`s.

I'm writing a binding to `lz4frame.h` in Haskell (as you probably know we already have bind

[2018-11-29 01:07] nh2 commented on #609
That part I was aware of, but I think what didn't occur to me was that we may be in a situation where `LZ4F_decompress_usingDict()` has consumed all input (e.g. into some internal buffer), and now only has to write out all the decompressed output, which may be a lot larger than the output buffer.

For example, it could read in 1 KB of compressed zero-bytes. Assuming those decompress to 6 KB, and `

[2018-11-29 01:07] #609 closed

[2018-11-29 02:19] Cyan4973 commented on #585
I remember testing `lz4` many years ago with some kind of "no-cache-please" order, with the same objective to not pollute the cache.
It would always end up being slower than the "normal" version, sometimes quite substantially.
So I abandoned this direction.

When I say "many years ago", I mean it : it was on Windows, using win32 api, storage was a physical spin disk, I'm not even sure if `lz4` was

[2018-12-02 16:44] vtorri opened #614 "[discussion] [Windows] simplification of the creation the import library"
Hello

As __declspec(dllexport) is used, the creation of the import library can be simplified by passing

-Wl,--out-implib,dll/liblz4.lib

when creating the DLL.

This means that the **dlltool** call can be removed from lib/Makefile, as well as the .def file.

I can create a PR if you want

[2018-12-02 17:04] Cyan4973 commented on #614
I think that would be a good idea @vtorri .

The `__declspec(dllimport)` is triggered through `LZ4_DLL_IMPORT`,
which is build-system driven anyway (cannot be automated from source code).

Since `LZ4_DLL_IMPORT` is project-specific,
should a more standard way to control the creation of import library exist,
it would feel a lot better for integration with Microsoft's ecosystem.

[2018-12-02 18:35] vtorri commented on #614
PR request failed. i don't understand why (i did the fork and sync it as usual).
I can send you the diff of Makefile if you want

[2018-12-02 20:33] vtorri commented on #614
fixed with PR #615

[2018-12-02 20:33] #614 closed

[2018-12-11 12:26] 42Bastian opened #617 "Crash if MINMATCH is reduced."
I tried to reduce MINMATCH from 4 to 3 or 2 and get a "Segmentation Fault".
Compiler gcc 7.30, Cygwin.

[2018-12-11 20:15] katzdave opened #619 "Error running pip install from python3.6"
I get the following on two different machines when I try to pipenv install lz4 with python3.6. Works fine when I switch to 3.5.

Installing initially failed dependencies…
Collecting lz4==2.1.2 ▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉ 0/1 — 00:00:00
  Using cached https://files.pythonhosted.org/packages/f1/4f/878f1827042c5b6828bc23d160f31e242ec820810b8bd04b30b631029952/lz4-2.1.2.tar.gz
Building wheels for collected package

[2018-12-11 20:18] katzdave commented on #619
Closing this and re-posting on github.com/python-lz4 I see that is a separte project

[2018-12-11 20:18] #619 closed

[2018-12-12 05:21] 42Bastian commented on #617
I guess this shall be noted.
For example, reducing MAXDISTANCE to 256 gave good results for a file for an 6502.
Anyway, good to know it is an expected effect.

[2018-12-12 05:21] #617 closed

[2018-12-12 11:41] ThomasWaldmann commented on #560
If I am just calling `LZ4_compress_default(...)`, am I affected by this bug?

The API (iirc) has no compression level parameter, so that "level 9" in this issue is a bit unclear...

[2018-12-12 19:11] felixhandte commented on #560
@ThomasWaldmann, no. This bug only existed in the "high compression" compressor (LZ4HC). `LZ4_compress_default()` uses the other (fast) compressor implementation.

[2018-12-14 19:40] ecm-pushbx opened #622 "lz4.org or lz4.github.io/lz4 leads to outdated Block format and Frame format documents"
The links on https://lz4.github.io/lz4 under the header Documentation lead to
https://lz4.github.io/lz4/lz4_Block_format.html and
https://lz4.github.io/lz4/lz4_Frame_format.html which are both outdated. The former doesn't explain the Parsing restrictions, the latter is 1.5.1 which lacks the Dictionary ID description.

[2018-12-14 19:51] ecm-pushbx opened #623 "Question: What is meant by "partially filled block" and "arbitrary flush"?"
In https://github.com/lz4/lz4/blob/e5a1911ec298a03242b2c8f954f3b511d5a743f6/doc/lz4_Frame_format.md in the section Data Blocks, subsection Data, it reads:

What is meant by that? When implementing my decoder (strictly from the documented Block and Frame formats, not porting an existing decoder) I did not figure out what a "partially filled" block would look like. After each sequence (literal + mat

[2018-12-14 21:03] Cyan4973 commented on #623
It's probably poor wording.

The word "full" refers to the maximum size that a block can have in the current frame.
This maximum was defined previously in the [frame header](https://github.com/lz4/lz4/blob/dev/doc/lz4_Frame_format.md#frame-descriptor).

"partially filled" simply means that no block is guaranteed to contain the maximum nb of bytes as described in the frame header. Hence the decompr

[2018-12-14 21:39] ecm-pushbx commented on #623
Thanks for the explanation! I'd reword it as follows:

[2018-12-14 22:37] ecm-pushbx opened #624 "Announce: 8086 assembly (NASM) decoder"
I wrote my own LZ4 decoder for use in a kernel, based on the Block format and Frame format specifications. It's at https://bitbucket.org/ecm/inicomp/src/default/ Two of my projects, RxDOS and lDebug, can be booted with the inicomp depacker stage between the program and an iniload stage.

My decoder can handle arbitrary kernel sizes (but it necessarily must fit in R86M-addressable memory), allows o

[2018-12-17 22:20] Cyan4973 commented on #624
Thanks @ecm-pushbx !
Your version has been added to the list of compatible decoders :
https://lz4.github.io/lz4/#interoperable-lz4

[2018-12-17 22:20] #624 closed

[2018-12-18 11:09] ecm-pushbx commented on #624
You list it as "x86 assembly decoder", but "8086" is more specific and more accurate.

[2018-12-23 09:29] RJVB opened #625 "what version would this embedded copy be?"
Does anyone have an idea what version the embedded LZ4 copy used in ZFS corresponds to?

https://github.com/zfsonlinux/zfs/blob/master/module/zfs/lz4.c
https://github.com/zfsonlinux/zfs/commits/master/module/zfs/lz4.c

It's about 5y old according to the preamble, so one could think that there must have been significant improvements since then. Have there, esp. in terms of (de)compression speed and

[2018-12-24 05:48] andretf opened #626 "Inconsistent behavior with lz4 using tar (STDOUT)"
`tar -I lz4mt -cf tcc.tar.lz4 *` is inconsistent with `-l lz4`. It's currently writing the content in the disk by its own as a default instead of passing to STDOUT when no output filename is provided. As a result I'm getting a file named "stdin" and an empty "tcc.tar.lz4". Forcing STDOUT with `-c` correct the behavior:

![image](https://user-images.githubusercontent.com/5576877/50391669-c312af00-0

[2018-12-24 06:36] Cyan4973 commented on #626
By `lz4mt`, do you mean [this variant](https://github.com/t-mat/lz4mt) ?

[2018-12-24 06:39] andretf commented on #626
omg, wrong rep. time to go to bed @andretf..

[2018-12-24 06:39] #626 closed

[2018-12-24 08:34] XikangSun opened #627 "How can lz4 compress and uncompress data directly?"
I try to use lz4 to compress and uncompress a dirctory. So it could be more convenient to use lz4 to compress files. But I just find a method to compress or uncompress a single file. I wish development team to provide a method to handle datas directly. So it would improve the spead to handle directory.
And it would be better to provide a program to handle a diretory directly.

Thanks

[2018-12-24 09:47] Cyan4973 commented on #627
If you wish to compress directories, the correct way is to archive the directory, typically using `tar`, then pass the archive to `lz4`, producing a ` .tar.lz4` file.
On Unix systems, this association is pretty straightforward :
`tar -cf - target_directory | lz4 -c > archive.tar.lz4`
or
`tar -I lz4 -cf archive.tar.lz4 target_directory`

On Windows, it can be more difficult, depending on exact deve

[2018-12-24 10:17] Cyan4973 commented on #625
If it's 5 years old, I would say there were definitely improvements since.
At the very least, decompression speed should now be faster.
Probably some corner case were fixed too.

I also note that the file linked is more than "just" lz4 source code, since it also contains specific zfs stuff.
This matters, because it's not possible to just drag and drop the source file provided in this project : som

[2018-12-24 11:38] RJVB commented on #625
Hi,

yes, I also noticed there have been quite a few changes to the code so updating the copy isn't going to be straightforward for everyone (or else I'd already have started tinkering) ...

Improved decompression speed should be a good selling point, and if the use of a state buffer can improve compression ratio that'd be good too.

But can you confirm that the old and current versions will decom

[2018-12-24 11:39] Cyan4973 commented on #625
Yes, they are 100% compatible.
LZ4 block format has not changed since its introduction in 2011.

[2018-12-26 01:18] nxrighthere opened #628 "Code analysis"
I just performed code analysis using PVS-Studio, and the application detected up to 35 warnings with various levels.

Here's a beautiful and convenient HTML report for you:
[lz4_analysis.zip](https://github.com/lz4/lz4/files/2709186/lz4_analysis.zip)

[2018-12-26 02:13] Cyan4973 commented on #628
Dear @nxrighthere ,

I went through the list, looking at warnings qualified as "high" warning only (about 30% of them).
Unfortunately, I could only notice false positives, sometimes blatant, sometimes less so.
No big surprise, this is a typical outcome with most new static analyzer.

Note that we already use 3 static analyzers on the `lz4` project, but any new one will find other things to say.
St

[2018-12-26 10:36] #628 closed

[2018-12-26 10:36] nxrighthere commented on #628
I absolutely agree with you, Yann. 🥂

[2018-12-26 22:57] SamB opened #629 "Parsing Restrictions seem to assume non-evil data"
<https://github.com/lz4/lz4/blob/dev/doc/lz4_Block_format.md#parsing-restrictions> contains this paragraph:

So, if I don't follow these rules, I can potentially cause decoders to [read beyond the end of](https://en.wikipedia.org/wiki/Buffer_over-read) or even [overflow](https://en.wikipedia.org/wiki/Buffer_overflow) a buffer?  I'm sure that can't _possibly_ be used for evil.

[2018-12-26 22:59] Cyan4973 commented on #629
Please try that, and see what happens

[2018-12-27 00:01] SamB commented on #629
Hmm, I'll interpret that as meaning that *your* code verifies these things, and the spec text just doesn't mention the need for such checks (perhaps because it seemed so obvious?)

I guess that means there's no danger unless someone re-implements the format and attempts to implement those optimizations without realizing the need to verify that the rules are being followed, in an environment where

[2018-12-27 00:06] Cyan4973 commented on #629
Right, any software implementation should ensure that it offers no opportunity for buffer overwrite or overread. That felt obvious, though I can certainly add a sentence about the topic if it helps.

[2018-12-30 20:26] afshinnajafi opened #630 "convert system.img to system.img.lz4"
hi
 can i convert system.img to system.img.lz4  with this tool?

[2018-12-31 04:05] Cyan4973 commented on #630
Yes.
If the objective is to compress some Linux kernel image, consider using the option `-l` for "legacy format" (see [doc](https://github.com/lz4/lz4/blob/dev/programs/lz4.1.md#operation-modifiers)), which is the format used by the Linux kernel.

[2019-01-02 22:50] Cyan4973 commented on #629
Updated block format, with a few notes on decoder resiliency.

[2019-01-02 22:50] #629 closed

[2019-01-02 23:03] Cyan4973 commented on #623
Updated frame format specification, in an attempt to clarify existence of non-full blocks.

[2019-01-02 23:03] #623 closed

[2019-01-02 23:21] Cyan4973 commented on #622
Documentation links towards format specifications now lead directly into github directory, to ensure up to date synchronization.

[2019-01-02 23:21] #622 closed

[2019-01-03 15:54] afshinnajafi commented on #630
pls give an exapmle if it's possible.
and i don't know how to run this tools in ubuntu . pls advise me

[2019-01-03 17:10] afshinnajafi commented on #630
i used below command and compressed done but is not the same of orginal file and it dosn't write.

lz4 -1 system.img system.img.lz4
or
lz4 -z -1 system.img system.img.lz4
or
lz4 -z -1 system.img

what's problem  ?

[2019-01-03 17:50] Cyan4973 commented on #630
`lz4 -l -12 system.img`

[2019-01-03 18:17] afshinnajafi commented on #630
the size of orginal system.img.lz4 File is 1.82 GB . and after decompressing and without any changing the file , i compress it with your command (lz4 -l -12 system.img)  again but the size of the file changed (1.63 GB) and the size of it is not the same as orginal file . why  ?

[2019-01-09 20:13] #608 closed

[2019-01-09 20:20] Cyan4973 commented on #608
@tzakian added the `LZ4F_getBlockSize()` prototype to `lz4frame.h` experimental API.
It is expected to help this issue.

The prototype will move from "experimental" to "stable" after a test period, to collect feedback on its usage.

[2019-01-10 18:56] #601 closed

[2019-01-10 20:01] Cyan4973 commented on #601
The pass-through mode has been restricted to `-dcf` only by @tzakian ,
fixing the issue mentioned.

[2019-01-11 14:53] benjdv opened #641 "unlz4 option "-m" and "-c" are not compatible"
It's not possible to use correctly the options m and c in the same time
unlz4 -mc myfile*.lz4
The option -m take the lead and the -c is ignored

and when use
lz4cat myfile*.lz4
Warning : myfile2.lz4 won't be used ! Do you want multiple input files (-m) ?
and we only get the cat of the first file

cf also #285

[2019-01-11 16:58] Cyan4973 commented on #641
Right, I believe `-m` used to be hardwired to generate one compressed file per input file.
So anything beyond that scope is more or less brittle.
Let's see what can be done.

[2019-01-14 12:40] benjdv commented on #641
Until the options works properly, users can of course use xargs
`ls *.lz4 | xargs -I {} unlz4 -c {} | ...`

[2019-01-16 02:36] hsiangkao opened #642 "is it the time to move LZ4_compress_HC_destSize to stable API?"
Hi,
EROFS currently uses LZ4_compress_HC_destSize/LZ4_compress_destSize in order to compress to fixed-output blocks (eg, 4KB fixed block),

https://git.kernel.org/pub/scm/linux/kernel/git/xiang/erofs-utils.git/tree/mkfs/erofs_lz4hc.c?h=mkfs-dev&id=f7783eb4cf5e5116c11a8587b4b835d4ff6577d8

We have applied these APIs to our smartphone products for months, but we have to use static linked lz4 library

[2019-01-16 03:50] Cyan4973 commented on #642
Sure @hsiangkao ,
this entry point will be made stable for `1.9.0`.

[2019-01-16 04:33] #642 closed

[2019-01-22 21:45] nacho opened #643 "Use meson generator instead of custom targets"
https://github.com/lz4/lz4/blob/6305e43dce0c8f0049167a41f92973fc1ef8a624/contrib/meson/contrib/gen_manual/meson.build#L27

@lzutao I think you could improve this part by using a meson generator

[2019-01-23 02:48] lzutao commented on #643
I take a loot at [generator manpage][gen_man]. It's said that:

[gen_man]: https://mesonbuild.com/Reference-manual.html#generator
[build target]: https://mesonbuild.com/Reference-manual.html#build_target
[custom_target]: https://mesonbuild.com/Reference-manual.html#custom_target

In our cases, I don't think those generated manual files need to be used by
any other targets. So [custom_target] is en

[2019-01-23 07:59] nacho commented on #643
ok, though I would give it a try I think it would make the code a bit simpler. One thing that I do not like much is the fact that we do not use files() for the sources but I though understand the fact that you are using join_paths everywhere...

[2019-01-23 07:59] #643 closed

[2019-01-23 08:13] lzutao commented on #643
@nacho I've tried to use `files`, but we are using meson out-of-source-dir. It means that
our `meson.build` is in separate directory other than in source dir. The project owner
didn't want to let those `meson.build` files near `.c` files.
So I cannot use `files`.

[2019-01-23 08:15] lzutao commented on #643
I have asked about alternative methods on Meson IRC. The Meson authors had no idea
other than using `join_paths()`.

[2019-01-23 08:18] nacho commented on #643
About this:
https://github.com/lz4/lz4/blob/dev/contrib/meson/lib/meson.build#L22

Do we need msvc specific flags?

[2019-01-23 08:20] nacho commented on #643
BTW thanks a lot for working on this. As soon as I have time I'll port gvsbuild to use meson.

[2019-01-23 08:45] lzutao commented on #643
Thanks. PR here #644.

[2019-01-28 14:57] a-k-goncharov commented on #584
I'm struggling from the E44 too. The compressor is being launched on a ARM Cortex A7 single-board computer. The compressing code is really primitive:

    const size_t outbufSize = LZ4_compressBound( insize );
    size_t outlen = 0;

    char *outbuf = new char[ outbufSize ];
    if( outbuf == nullptr )
    {
       std::cout << "[Sampler::compress] memory allocation error" << std::endl;
       re

[2019-01-28 17:13] Cyan4973 commented on #584
`LZ4_compress()` generates an LZ4-compressed block, without any metadata.
Locally, this probably does not matter, because metadata will likely be stored and transmitted by other means.

But when transferred to another computer, there is a problem : all metadata are lost.
To compensate, LZ4 defines an additional format, a __frame__, which encapsulates metadata, and makes it possible to transport an

[2019-01-29 09:12] a-k-goncharov commented on #584
Thank you, sir!
You saved me hell a lot of time. Not everything works just fine and as expected.
I'm becoming a permanent library user.
Thank you soo much!

[2019-02-06 08:54] svpv opened #647 "ambiguous MFLIMIT"
Been pondering over the spec again.  It reads, "The last match must start at least 12 bytes before end of block... blocks < 13 bytes cannot be compressed." I believe that this is ambigous.

It says that when I'm at the end of the block:

[code]

I can go back 12 byte and start a match there:

[code]

So it seems that 12-byte inputs, in fact, can be compressed.  For example, if I've got 12 "a" char

[2019-02-06 12:22] Cyan4973 commented on #647
The last match must start no farther than 12 bytes before the end of the block.

Even with an overlapping match, it needs to copy "something past", at least one byte,
so the source must be at least 13 bytes for a match to be possible.

In your example, the last match starts at `6+5=11` bytes before the end of the block.
A decoder is allowed to reject a block finishing this way.

[2019-02-12 22:00] Sweeper-Bot opened #649 "Low Compression Ratio"
I am attempting to compress 16 bit binary values that have a large amount of repetition. With my current solution the values are compressing to 97%-100% of their original size. I am considering implementing an external dictionary or lowing the default acceleration value to <1, but I thought it would be wise to get some input from others who may be more experienced with LZ4 first. Is there a common

[2019-02-12 22:08] felixhandte commented on #649
Hi @Sweeper-Bot, can you give us more details about your data? (Including a sample, maybe?) Do you mean that you're getting 0% to 3% reduction in size by applying compression?

I'd have to check to make sure, but I don't believe it's valid to select a negative acceleration factor.

LZ4 is a byte-level compressor, and will only compress pieces of the input for which it can find an identical >=5 byt

[2019-02-13 02:23] Cyan4973 commented on #649
While it's hard to tell from just the description, this type of data seems a bad fit for LZ4.
LZ4 only cares of repetitions which are at least 4+ bytes long (that's where the `4` comes from).
So that means at least 2 consecutive 16-bit integers which are exactly identical.
Depending on your source, this may be more or less likely.

Prefer to pass such data type into a filter before passing the res

[2019-02-13 14:30] #649 closed

[2019-02-26 17:28] wkailey opened #650 "Encode end-to-end size-of-frame in the frame header"
Unless I have misunderstood something, a while loop is required to determine the overall length of a frame, including its header, footer, and all data blocks. This surprised me, because this design choice vitiates one of the main uses of a frame format: fast parallel decompression. Decompression is still fast following the while loop to determine the length, but the loop itself and the prologue to

[2019-02-26 19:37] Cyan4973 commented on #650
That's correct : the complete size of a frame is not known in the header.

This comes from basic streaming constraints : in order to know the full size of a frame, one needs to finish the frame. By the time we reach that stage, which can be any arbitrary length, the header has long been written and forgotten.

One could think of "retrofitting" the header later, aka seek back and overwrite a pre-de

[2019-03-03 17:13] vtorri opened #651 "MSYS2, Windows 10 :filtering OS fails in lib/Makefile"
on Windows 10, with MSYS2 64 bits, uname returns the value

MINGW64_NT-10.0

and

MINGW32_NT-10.0 for 32 bits

so lib/Makefile must be updated (line 127).

[2019-03-03 17:15] vtorri commented on #651
i can provide a pull request if you prefer

[2019-03-03 18:37] Cyan4973 commented on #651
sure !

[2019-03-07 19:32] CristoferMartins opened #653 "Questions about compression performance on small data"
I want to compress games packets using this library. The packets size is 65k maximum but mostly of data is around 200 bytes~. I heard a dictionary would help a lot here.

I also want to ask if there is advantages in compiling this library with march native directive which will be used by the compression code(server side, linux). I need the compression to be as fast as possible(and faster than zlib

[2019-03-07 20:05] Cyan4973 commented on #653
Yes, compression of small packets will be helped by a dictionary.

The dictionary can be created by using `zstd --train` on a set of samples. The generated output is compatible with `lz4`. Just make sure dictionary size is <= 64 KB, since `lz4` will not make use of more content anyway.

Regarding usage of `-march=native`, I would say this is more or less random.
Sometimes it's better, sometimes no

[2019-03-19 12:18] mdnahian opened #654 "Spare files not being properly compressed"
First created a sparse file from a file with a small amount of data:
[code]
Then compressed using lz4:
[code]

Then made the sparse file even bigger and compressed again:

[code]
Compressed file size grows even when the amount of data in the file does not

[2019-03-19 17:50] terrelln commented on #654
The LZ4 compressed file won't be sparse, `--sparse` (the default on files) applies to the decompressed output.

[code]

[2019-03-19 18:21] mdnahian commented on #654
Haven't seen any documentation on this. Thanks!

[2019-03-19 18:21] #654 closed

[2019-03-24 15:46] aleksazr opened #655 "sub-optimal compression"
Hello,

I am compressing the alpha channel of an ARGB image.

I've extracted the alpha byte in a separate file (~500k),
get it here: http://users.beotel.net/~gwh/lz4/FFs.bin

The image is mostly opaque, so there are a lot of 0xFF bytes in sequence.
(btw, the first non-FF byte starts at around 0x57C90)

Compressed with "lz4 -9 FFs.bin" I get a file of 3,048 bytes, and that file also has a lot of 0x

[2019-03-24 16:16] Cyan4973 commented on #655
[LZ4 format](https://github.com/lz4/lz4/blob/dev/doc/lz4_Block_format.md) has a hard compression ratio limit, of 255:1.
It cannot do better than representing 255 bytes into one byte.
That's typically what happens when compressing a lot of `\0` or `0xFF` bytes.

In which case, `LZ4` will generate many `0xFF` bytes (well, 255 times less, but it can still be many bytes if the source is large). And of

[2019-03-24 16:49] aleksazr commented on #655
OK, thank you for the explanation and the idea to use LZ4 (extremely fast) followed by LZ4HC.
Even double LZ4 works fine enough.

Well, maybe one day LZ4 will detect that the previously compressed block and current block are equal, and do something about it on its own.

[2019-03-25 17:40] #655 closed

[2019-03-25 17:44] #653 closed

[2019-03-25 17:47] #650 closed

[2019-03-25 19:15] #630 closed

[2019-03-25 19:17] #625 closed

[2019-03-25 19:42] #585 closed

[2019-03-25 19:44] Cyan4973 commented on #585
This is an unpromising direction.
One would need some substantial positive measurements to ensure it's bringing a tangible benefit to the table, given the risky nature of the change (with regards to portability and link stage).

[2019-03-25 19:44] #584 closed

[2019-03-29 06:33] vtorri commented on #651
should this issue be closed ?

[2019-03-29 06:36] Cyan4973 commented on #651
Yes @vtorri , thanks to your patch #652

[2019-03-29 06:36] #651 closed

[2019-04-05 20:32] cafarm opened #660 "Where is lz4hc?"
The LZ4 benchmarks show the transfer + decompression time of LZ4 HC -9. Googling around I see some folks discussing an lz4hc command line app. Installing this repo, I only have lz4, lz4c, and lz4cat command line apps.

I see that there is a deprecated -hc option but it is not clear to me if this is the same as lz4hc. Is "lz4 -9" now the same as what used to be "lz4 -hc -9" and "lz4hc -9"?

[2019-04-05 20:37] Cyan4973 commented on #660
Just use `lz4 -9`.

There should not be any need to use legacy commands by now.
There is only one binary. Even `lz4c` and `lz4cat` are (supposed to be) just links towards `lz4`.

For completeness, note that `lz4` compression levels can go up to `-12`. Gains are less and less tangible, while compression speed is more and more impacted. So these additional levels are meant for very asymmetric scenar

[2019-04-05 20:41] cafarm commented on #660
Ok great. Thank you for the response. I was surprised not to be seeing decompression speeds faster than zstd, so I thought I might be missing something. Perhaps it's just the data I'm working with but zstd is producing a smaller compressed tar and its decompressing it faster as well (although compression takes longer).

[2019-04-05 21:27] Cyan4973 commented on #660
If you are measuring speed at I/O level, while decompressing a `tar` archive for example, then it's likely the case that `zstd` decompresses faster, just by virtue of reading less bytes from storage.

LZ4 decompression speed is in a somewhat different league. At multiple GB/s, it's closer to `memcpy()`. This is useful for in-memory processes, where speed is more critical.
But at I/O level, it's si

[2019-04-07 05:23] vtorri opened #661 "[discussion] lz4 vs zlib : speed and memory usage"
in our project we use zlib for compression and decompression of themes. We used it because it was the best compromise between speed decompression and memory usage

in the lz4 website, there are benchmark about speed decompression, but not about memory usage. Would it be possible to have also memory benchmarks ?

thank you

[2019-04-07 05:26] vtorri opened #662 "[discussion] : new release"
it has been around 7 months since the latest release. do you think that a newer release will be out soon ? I'm waiting for the new installation on MSYS2 to simplify my build scripts :-)

[2019-04-07 05:36] Cyan4973 commented on #662
Yes, a new version of LZ4 will be later this month.

[2019-04-07 05:40] vtorri commented on #662
ok, thank you, closing

[2019-04-07 05:41] #662 closed

[2019-04-07 05:41] Cyan4973 commented on #661
It's a difficult one, because the memory usage is typically a matter of implementation.

The LZ4 decompression algorithm itself does not need any memory beyond a few registers.
No table is allocated, not even on stack.

So, in the common scenario of block decompression, all that's needed is the input buffer with compressed data, and a corresponding output buffer for the decompressed data.

There a

[2019-04-07 05:42] #660 closed

[2019-04-09 23:47] Cyan4973 commented on #607
Actually, it might not be necessary to add a new function for this.

The main problem is : how much bytes are necessary for `LZ4_getFrameInfo()` to successfully return with a filled `LZ4F_frameInfo_t` structure.

Well, we already know this minimum, it's 5 bytes.
So make it a constant, and give it a proper name.

On providing `LZ4_getFrameInfo()` with an input of 5 bytes, the function will fail, bu

[2019-04-10 04:30] Cyan4973 commented on #607
associated patch merged

[2019-04-10 04:30] #607 closed

[2019-04-11 20:58] Cyan4973 commented on #647
Updated block format documentation with more details on end of block conditions, covering this question.

[2019-04-11 20:58] #647 closed

[2019-04-11 21:19] Cyan4973 commented on #154
The maximum offset is now configurable at build time,
using `LZ4_DISTANCE_MAX` macro.
This feature will be part of next release (`v1.9.0`).

[2019-04-11 21:19] #154 closed

[2019-04-12 21:26] #661 closed

[2019-04-12 22:09] Cyan4973 commented on #641
OK, there is a subtle issue to solve for this functionality to work :
`stdout` cannot be opened and closed multiple times.
It must remain opened while scanning all input files.
This disrupt the current logic for `FILE*`.

Likely fixable.

[2019-04-12 23:23] Cyan4973 commented on #641
OK, patch #667 now ensures that it's possible to both compress multiple files into `stdout` (`-m -c`)m
and to decompress multiple files into `stdout` (`-d -m -c`, `unlz4 -m -c`, `lz4cat`).

What bothers me is that the patch test both, but only fix the first one.
Because decompressing multiple files into `stdout` was actually already supported.

Looking at `blame` history, it seems this feature was

[2019-04-13 00:29] #641 closed

[2019-04-13 21:15] #590 closed

[2019-04-13 21:16] Cyan4973 commented on #590
With the merge of last patch, next release should get rid of all remaining Visual 2017+ warnings within `liblz4`.

[2019-04-13 21:50] benjdv commented on #641
I use the "official" version of liblz4-tool in Ubuntu 18.04.2 LTS.
It's unfortunately Version: 0.0~r131-2ubuntu3 - (tag r131)
Just before the (correct) LZ4 v1.7.3 - (tag V1.7.3)
I'm glad to know that the problem is already solved for "next" versions.
But I'm little bit disappointed to realize that the version used in the last xubuntu lts is as old.
Sorry for remounted these false problem, I should

[2019-04-13 22:30] Cyan4973 commented on #641
There is an official process to upgrade a package within Ubuntu LTS,
starting from [contacting the maintainer listed on the package's page](https://packages.ubuntu.com/source/xenial/lz4),
but in my experience, it's a long and (too) involved process.
It took me a year to get `zstd` upgraded in 16.04 from an old incompatible experimental version ([`v0.5.1`](https://packages.ubuntu.com/source/xenial/

[2019-04-16 08:56] sloutsky opened #671 "Inconsistent use of allocation macros (leading to memory corruption with custom allocator)"
lz4hc.c uses free() call directly instead of FREEMEM() macro in two places (this breaks scenario of replacing allocator)

LZ4_compress_HC() and LZ4_freeStreamHC()

[2019-04-16 11:36] vtorri opened #672 "in web site, "latest reelase" points to wrong version"
the link points to 1.8.3 and not 1.9.0 version

[2019-04-16 11:38] vtorri commented on #672
oups 1.9.0 not released yet ...

[2019-04-16 11:38] #672 closed

[2019-04-16 17:14] Cyan4973 commented on #671
Nice catch !
Yes, this should be fixed.

[2019-04-16 19:47] Cyan4973 commented on #671
Thanks for your timely notification @sloutsky !
This is fixed, and will be part of next release (`v1.9.0`).

[2019-04-16 19:47] #671 closed

[2019-04-17 18:06] itoffshore opened #675 "Test failure in 1.9.0: Incorrect parameters"
`lz4 1.9.0` [builds successfully](https://github.com/alpinelinux/aports/pull/7117) in Alpine Linux but the tests are failing the `CI` under `drone` with `Incorrect parameters`:

* https://cloud.drone.io/alpinelinux/aports/1576

[2019-04-17 18:36] Cyan4973 commented on #675
Thanks for report @itoffshore ,

I'm don't completely understand what's going on.
The CI seems to run the `make test` script,
but I don't get which operation is failing.

[2019-04-17 18:55] ppodolsky opened #676 "ASAN issues in the new decompression loop in 1.9.0"
Hi, guys!
I have run large set of tests using your brand new decompression, and AddressSanitizer had found troubles with https://github.com/lz4/lz4/blob/dev/lib/lz4.c#L1684
Probably `16` should be replaced with `length` variable.
Here is ASAN output, worth to note that code in `lz4.c` is shifted someway because I patched it.

[code]

[2019-04-17 19:36] Cyan4973 commented on #676
Thanks for report @ppodolsky ,

we apparently have an issue within `LZ4_decompress_fast()`,
I'm on it.

[2019-04-17 20:15] itoffshore commented on #675
it starts to fail around [line `298` in `drone`](https://cloud.drone.io/alpinelinux/aports/1576)(# lz4 should fail when fast=0):

[code]
I have `diffutils` installed in the build environment but perhaps the errors are due to some other **GNU** tools the tests assume to be available which don't exist in `busybox` (or which have slightly different command line options) ?

[2019-04-17 20:16] ppodolsky commented on #676
Did you found the issue? I can try to make a reproducible example, but it can take a while

[2019-04-17 20:34] Cyan4973 commented on #676
Thanks @ppodolsky, issue is now reliably reproduced.
Fix should be comparatively simpler,
what really matters is that the CI test suite is augmented to always catch similar issues in the future.

[2019-04-17 20:38] ppodolsky commented on #676
Great news, thank you

[2019-04-17 20:39] kloczek opened #677 "RFE: move all meson files to root of the project"
It would be really good to move all meson files to the root of the lz4 to be able to use those files like in all other projects.
This will as well significantly simplify all meson files.

[2019-04-17 20:59] Cyan4973 commented on #675
I suspect line 298 is fine.
Test is supposed to fail, and it fails, so it seems all good.

I'm more concerned by line 333.
`lz4` is supposed to compress a file, hence to create a `.lz4` artefact.
But it seems it pushes the compressed content into `stdout` instead, since some binary blob is visible afterwards.
That would definitely break the test, and is consistent with the next failure, when `lz4`

[2019-04-17 21:06] Cyan4973 commented on #677
I really like the idea that `meson` project files are "self-contained" into their own directory, rather than being spread all around the repository. This is a clean design, an undervalued property I believe.

Now, something that would be acceptable is to have __1__ single meson file at root level, which sole job would be to delegate to dedicated directory in `contrib/meson`.

If that's possible (I

[2019-04-17 21:06] itoffshore commented on #675
[Travis is ok](https://travis-ci.org/alpinelinux/aports/builds/521363338?utm_source=github_status&utm_medium=notification) with the tests - I can just disable them for this [Alpine `PR`](https://github.com/alpinelinux/aports/pull/7117)

[2019-04-18 05:14] degski opened #679 "LZ4F_INIT_FRAMEINFO Macro does not compile in C++"
In <lz4frame.h>, line 178, the current macro fails to compile in C++(17), the below macro [doing exactly the same thing] does compile.

    #define LZ4F_INIT_FRAMEINFO   { LZ4F_default, LZ4F_blockLinked, LZ4F_noContentChecksum, LZ4F_frame, 0ULL, 0U, LZ4F_noBlockChecksum }    /* v1.8.3+ */

The way it's currently defined it does not work with braces-initialization (it does with parenthesis, though)

[2019-04-18 12:06] kloczek commented on #677
You like it but you are no longer are thinking about using it by other people.
By choosing "style" over "usability" you are adding some overhead on packaging layer.
Abnd again: by move those files into locations where they suppose to be all meson files could be ~20% smaller (look: https://simple.wikipedia.org/wiki/Occam%27s_razor)

[2019-04-18 16:37] Cyan4973 commented on #679
Thanks, that's useful.
I would need to create a test that can reproduce the C++ compilation failure, so that compatibility get validated now and in future changes.

[2019-04-18 21:29] #676 closed

[2019-04-18 22:45] Cyan4973 commented on #679
I tried to reproduce this warning using `g++` `v8.2.0` with option `-std=c++17` and a bunch of compilation warning flags, but compilation did not produced any warning.

What is the setup that produces this issue ?

[2019-04-18 23:40] Sanmayce opened #680 "Benchmarking v190 vs v183 with Oxford English Dictionary"
Wanted to share quick results obtained on my slower laptop (i7-3630QM 6M Cache, up to 3.40 GHz, 16GB DDR3 800MHz) with OED - a paragon corpus when speaking of English language related ones.

In mode 12, v190 is 2457.5/2208.4= 1.11x faster:

[code]
In mode 12 with 'favor-decspeed', v190 is 2487.6/2206.2= 1.12x faster:

[code]
And for a good measure, quick runs of lzbench and TurboBench:

[code]

[c

[2019-04-19 00:19] danlark1 opened #681 "More ASAN issues in the new decompression loop in 1.9.0"
Hi!

We tried to update lz4 in our codebase at Yandex (e.g. here https://github.com/yandex/ClickHouse/issues/5013) and investigated some ASAN issues. We tried the released branch and current branch where some of the ASAN issues were fixed.

We used a simple code like this with argv[1] is the file attached (test_file.txt should be exactly 92 bytes).

[code]

[test_file.txt](https://github.com/lz4/l

[2019-04-19 00:22] Cyan4973 commented on #681
Thanks for report @danlark1 ,
it's an important issue, I'll look into it.

[2019-04-19 00:49] Cyan4973 commented on #681
Bug is confirmed, I can reproduce it.
Onto fix ...

[2019-04-19 03:57] #681 closed

[2019-04-19 03:58] Cyan4973 commented on #681
fixed in `dev` branch

[2019-04-19 07:32] degski commented on #679
Clang/LLVM-9.0 (let's call it trunk) with option -pedantic. It needs a cast to silence it, but then it's simpler to init the fields with their proper name anyway. Strictly speaking

    #define LZ4F_INIT_PREFERENCES   { LZ4F_INIT_FRAMEINFO, 0, 0u, 0u, { 0u, 0u, 0u } }    /* v1.8.3+ */

needs modifying as well.

[2019-04-19 07:35] danlark1 commented on #681
Great! Thank you.

[2019-04-19 16:46] Cyan4973 commented on #679
I tried with `clang version 6.0.0-1` and `clang version 7.0.0-3` on Ubuntu
as well as `Apple LLVM version 10.0.1 (clang-1001.0.46.3)` on Mac,
using `-std=c++17` and `-pedantic`, plus a bunch of usual warning flags (`-Wall`, `-Wextra`, etc.),
none of them produced any warning.

Note that I'm not against the proposed change, I'm just trying to find a way to reliably reproduce your experience, so tha

[2019-04-19 17:20] Cyan4973 commented on #679
_update_ : could finally reproduce it, with a minor change of code.
Now I've got a reproducible failed test to fix.
Should be straightforward.

[2019-04-19 18:51] #679 closed

[2019-04-19 18:51] Cyan4973 commented on #679
Fixed in `dev` branch

[2019-04-19 23:47] Cyan4973 commented on #675
At stake is a property of `lz4` CLI, which selects `stdout` as default output _whenever it detects that `stdout` is not the console_. Otherwise, the default output is `filename.lz4`, aka the source name + suffix `.lz4`.

This behavior was selected many years ago, based on the assumption that the CLI is necessarily launched from a console, and therefore if `stdout` is not the console, it must be in

[2019-04-20 00:51] gabrielstedman commented on #598
I had a first go at implementing --retrieve-content-size option still quite rough around the edges.
https://github.com/gabrielstedman/lz4/commit/5a96c7faca8e374d6a38d5dbf94351da134dbdc5

[2019-04-21 23:38] Cyan4973 commented on #675
Ah, I finally found a way to trigger the same problem (`stdout` not considered the console),
and therefore, to continuously test it,
and ensure all tests pass such situation.
Should be fixed soon.

[2019-04-22 03:20] #675 closed

[2019-04-22 03:20] Cyan4973 commented on #675
Issue fixed in `dev` branch

[2019-04-22 07:50] degski opened #687 "Using a CDict"
There is a `LZ4F_compressBegin`  and a `LZ4F_compressBegin_usingCDict`  function, but there don't seem to being any CDict-equivalents for `LZ4F_compressUpdate`  and `LZ4F_compressEnd`.

Is it planned to have those or do I need to go about things differently (as I'm currently using `LZ4F_compressBegin` , `LZ4F_compressUpdate` , and  `LZ4F_compressEnd` , while I would like to move to using a CDict)?

[2019-04-22 10:24] itoffshore commented on #675
yes `drone` build passing now in https://github.com/alpinelinux/aports/pull/7117 - many thanks

[2019-04-22 13:12] JPeterMugaas opened #688 "Makefile build system does not with MSYS and CYGWIN as well as having issues with MINGW-W64"
When attempting to build lz4 for MINGW using the MSYS2 bash shell, encountered some issues.  The install does not work, the export library has a .lib suffix instead of the standard .dll.a (using gcc for mingw), and the dll has a version number in it (not usual with the MSYS2 MINGW-W64 distribution).  If building for MSYS2 itself, the Makefile generates the liblz4-$version name instead of msys-lz4-

[2019-04-22 16:08] Cyan4973 commented on #687
`LZ4F_compressBegin_usingCDict()` just replaces the initialization, aka `LZ4F_compressBegin()`.

After that, just uses the regular streaming functions `LZ4F_compressUpdate()` and `LZ4F_compressEnd()`. They are compatible.

[2019-04-22 16:20] Cyan4973 commented on #688
Thanks for the insightful suggestions @JPeterMugaas .
I'm completely opened to a PR on this topic.

I see you have already attached a `diff` file in this issue.
If you can, it would be preferable to present the same work as a PR, since it makes it much easier to review, test and discuss the proposed changes, and the amount of changes suggested in this patch is large enough to deserve a good review

[2019-04-22 17:00] degski commented on #687
Thanks, I understood the replace bit, I imagined that there would be equivalents of the other functions as well.

Thanks, getting on with things ...

[2019-04-22 17:57] JPeterMugaas commented on #688
Alright, here you go.  https://github.com/lz4/lz4/pull/689 .    I might work on a little more but please feel free to comment.  Some of this work is consolidating various patches from MSYS2 and CygWin.  I'm also going to look at the cmake invocation and I may consider properly adding version information in the .DLL's.  But I want to do this stuff properly because the .DLL names can change and that

[2019-04-22 19:07] #687 closed

[2019-04-23 18:53] Cyan4973 commented on #598
The new command `--list` has been added to `lz4 v1.9.1`.

While it works, I don't think it's complete, because it only supports single-frame files.
A more complete implementation should scrub the whole file to support multi-frames files, as well as legacy and skippable frames, and optionally consider a verbose mode (`-v --list`).

So I'm not sure if we can "close" this issue.

[2019-04-23 18:58] Cyan4973 commented on #688
Thanks @JPeterMugaas for your patches which make Windows builds much nicer !
Is there more you would like to add, or can this issue be closed ?

[2019-04-23 19:07] Cyan4973 commented on #677
I'm actually thinking about other people, most specifically to the non-meson users.

This policy is not specific to meson. Notice that the same one is applied to [`cmake`](https://github.com/lz4/lz4/tree/dev/contrib/cmake_unofficial) , and beyond that to all other projects and build systems, be it [`snap`](https://github.com/lz4/lz4/tree/dev/contrib/snap), [`dkgpp`](https://github.com/lz4/lz4/tree

[2019-04-23 19:29] JPeterMugaas commented on #688
I think that it can be closed.  If I have anything further, I will add it.  We'll see how things evolve.

[2019-04-23 19:30] #688 closed

[2019-04-23 21:58] gabrielstedman commented on #598
Thank you for taking the time to adapt my patch, I'm afraid I still need to improve my C skills quite a lot.
It's been a great learning experience, I'd love to try and implement these improvements, but it's probably better for someone more experienced like yourself for the task.

[2019-04-23 22:15] Cyan4973 commented on #598
Nothing comes "magically", it's only through regular effort and exposure that one gets better at programming, for any language.
I'm happy to help / guide any future patch on the matter, even if only for learning purposes. If it was not for the pressure to issue a release soon enough, I would have let you complete this one, providing more hints whenever needed.

[2019-04-24 12:19] degski commented on #679
@Cyan4973 Missed your subsequent posts, now spotted. Thanks.

[2019-04-26 16:26] lzutao commented on #677
I've been taken care of meson build script. And I respect what @Cyan4973 think
about it. If the meson build script works, then no changes are needed.

[2019-04-30 08:33] moubctez opened #701 "OS variable is not defined in lib/Makefile"
The following has been removed from **lib/Makefile**. As a consequence, building on Darwin fails with incorrect linker flags.

[code]

[2019-04-30 13:05] moubctez commented on #701
This is for 1.9.1. I see this has been fixed on master.

[2019-04-30 13:05] #701 closed

[2019-04-30 15:37] Cyan4973 commented on #701
Yes, I put a note on the release page about this issue,
but I'm afraid I can't change the v1.9.1 package, to preserve checksum.

[2019-04-30 22:35] Silarn commented on #688
This change has caused some issues in my case. I assume it's intentionally incompatible with nmake, as nmake can't interpret the Makefile.inc but previously we were able to use the build output .lib file to link with MSVC projects. Now the release only includes a .dll.a, which is not compatible. It would be nice if both formats could be included.

[2019-04-30 23:33] Cyan4973 commented on #688
I'm all fine with a version which could work for both.

The first thing to do is to design a test that can be run on Travis CI, so that the issue can be observed, the fix tested, and then continuously maintained.

[2019-04-30 23:43] Silarn commented on #688
Actually, I think the problem is that there's no provided DLL in the last two releases. You can, in fact, link that .dll.a file but then there's no DLL present to link with at runtime, which causes the application to crash.

[2019-04-30 23:50] JPeterMugaas commented on #688
Alright, I have noticed something similar with C++ Builder when attempting that.  I think the best way to to try to approach the issue is to consider mingw32 and Visual C++ (or what you refer to as nmake) as separate targets.  I have noticed some similar issues with C++Builder although there some code differences as well.  The C++Builder make does have a different syntax for quite a number of thin

[2019-04-30 23:56] Silarn commented on #688
The provided static lib is not compatible with MSVC either, referencing GCC-style .o files. I would guess that the 1.9.x releases would work in theory, using the dynamic lib, but there's no base DLL file present to load at runtime.

I'll go back to my custom built static lib for now.

[2019-05-01 00:27] JPeterMugaas commented on #688
I doubt that all is really lost here because we have another option,
contrib/cmake_unofficial/CMakeLists.txt.  This is something I'm working on now and I think that this might help if I can refine things.  Now, maybe with the "Makefiles", I didn't abstract enough to cover both MSVC and MINGW (goodness knows I've tried).

[2019-05-01 14:31] mpapierski opened #703 "Problem with endianness"
Hi!

I was wondering if liblz4 can be used on MIPS to compress data, and decompress that stream on x86 safely? Does liblz4 assume endianness, or uses native byte order in the streams, so possibly cross-architecture compress/decompress is not supported? I've seen some byte swapping code in the sources, so perhaps its just my fault.

I'm asking because I've run into some troubles while using https:/

[2019-05-01 16:14] felixhandte commented on #703
Hey,

The LZ4 data format is independent of endianness (see the [spec](https://github.com/lz4/lz4/blob/dev/doc/lz4_Block_format.md#lz4-block-format-description)). So while it's perfectly acceptable for different compressors on different architectures to produce different compressed representations of the same input, they should all be mutually comprehensible.

I've looked at your samples though an

[2019-05-01 18:58] stokito commented on #598
I tested the new version (BTW Ubuntu has some old version 1.8).
By default uncompressed (original) size is not stored and to store it you need to add `content-size` option i.e.
[code]
And this  `content-size` option add additional 8 bytes (i.e. long) so archivers may always add it.

Could you elaborate on this? For me it's unclear if we can store the permissions. I tried and it looks like during d

[2019-05-01 20:00] gabrielstedman commented on #598
I've made some progress implementing multi-frame support here: https://github.com/gabrielstedman/lz4/commit/6017cc7643dfea6a163a147506b89a11d3a9e35b

It still needs testing and cleaning up, what's the best way to produce skippable frames?

Here is what the output looks like when run with -v:

[code]

[2019-05-01 20:34] Cyan4973 commented on #598
That's exactly what happens. Permissions are just transferred from source to compressed file, and then from compressed file to destination file.
There's no permission information stored anywhere in the frame format.

[2019-05-01 20:50] Cyan4973 commented on #598
@gabrielstedman, that's a nice achievement !

Now, remaining effort is mostly in selecting a presentation.

On this front, I like to look at `xz --list`, or `xz -v --list` for the verbose mode.

For the verbose mode, it starts with a file summary, and then add one line per frame.
For example :
[code]

Not everything is applicable to `lz4`, so it's only a matter of getting inspiration from.
For exa

[2019-05-01 20:56] Silarn commented on #688
It's just that the Makefile.inc isn't compatible with MSVC. I think there's also some sort of bug where it isn't grabbing the generated liblz4.dll during the release builds.

[2019-05-01 21:01] #677 closed

[2019-05-01 21:07] Cyan4973 commented on #688
Maybe we could try to be more specific on this point ?

Is it the `include` statement that's problematic ?
[`nmake` documentation](https://docs.microsoft.com/en-us/cpp/build/reference/makefile-preprocessing-directives?view=vs-2019) states it supports it, but maybe there are some subtle parsing issue ? (lowercase, uppercase, indentation, etc.)

Is it the name of the file `Makefile.inc` ? Is it its

[2019-05-01 22:36] Silarn commented on #688
I'm not able to pull it up right at the moment but as I recall the error I got was about there being a missing colon between the source and the target. Unfortunately I don't think it specified a line.

[2019-05-02 08:46] imartisko opened #704 "Question: lz4 -t nonexistant.lz4 returns 0"
lz4 -t ./nonexistant.lz4
./nonexistant.lz4: No such file or directory
echo $?
0

Is this expected behaviour?

[2019-05-02 12:21] JPeterMugaas commented on #688
Actually, it did specify a line.  Here's what I found from the Visual Studio Prompt (I actually had to download that just for this).

Microsoft (R) Program Maintenance Utility Version 14.20.27508.1
Copyright (C) Microsoft Corporation.  All rights reserved.

Makefile.inc(1) : fatal error U1034: syntax error : separator missing
Stop.

so that tells us that it's line 1 and that is:

ifeq ($(V), 1)

[2019-05-02 13:11] gabrielstedman commented on #598
Thanks @Cyan4973 I'll look into producing similar output.
What's the best way to generate skippable frames?

[2019-05-02 17:23] Cyan4973 commented on #704
It's clearly a bug.
Thanks for reporting @imartisko !

[2019-05-02 17:36] Cyan4973 commented on #598
Unfortunately, we don't have tools for that.
So it's all manual : push the correct bytes (the specification is relatively simple).

[2019-05-02 19:07] Silarn commented on #688
Right. The core issue is that nmake conditionals are just a different format:
[code]
etc...

So if the long term goal is to make compilation compatible with MSVC (out of the box), CMake might be the best option.

That being said, I think all I really need is a DLL and shared LIB file I can link against. This worked before, and I think it would be fine still if all the files were present. I don't m

[2019-05-02 19:29] Cyan4973 commented on #688
Quick question :
did `nmake` ever worked before, with a previous version of the `Makefile` ?

[2019-05-02 19:34] JPeterMugaas commented on #688
unless GNU Make and something like the FreeBSD Make have can support that format, we have an incompatability issue that would raise it's ugly head in way or another. And at this point, for a .DLL, I also added another complexity by embedding version info right into the .DLL and that too would be different for Visual C++ and binutils (where windres is being used).  Add to this that I had to add a c

[2019-05-02 19:34] Silarn commented on #688
Probably not, we've just been linking against the release builds until now.

[2019-05-02 19:52] JPeterMugaas commented on #688
Alright, I don't know how helpful this is but there is a directory, visual and a "Solution" for Visual C++ 2010 and Visual C++ 2017.  Perhaps, we might also need a "Solution" for VS2019.

But we could also consider doing some refinements of cmake.  The reason I hesitated before about that was that cmake itself depends upon libarchive and that depends upon lz4. I happen to have some experience with

[2019-05-02 20:02] Silarn commented on #688
I missed those VS projects at first glance. We can transition to building the library ourselves, which we do for some other dependencies. I just tried it out with the VS 2017 solution, and it's a simple conversion for VS 2019 which can be done on-the-fly since there is no incompatible code.

So that can work for us as an alternative.

[2019-05-02 20:14] JPeterMugaas commented on #688
Actually, it might also be a good idea if we did have a solution for VS2019 (the conversion could be a start).  The thing is that the CMakeLists.txt when being used for Visual C++ would have to be in sync with the solution is actually doing.  It might generate a .dll named lz4.dll and I don't like that because it doesn't match the liblz4.dll generated by the solution but we also don't want a libli

[2019-05-02 20:37] Silarn commented on #688
Either way. I think CMake simplifies the project in the long run as you shouldn't need to maintain a bunch of standalone VS projects, but it will take some work to replicate all of the current projects and versioning data. The VS projects work for now, though. However, if the intent for the releases is to provide a linkable DLL you can compile against, I'm guessing it's the mingw project that woul

[2019-05-02 20:59] JPeterMugaas commented on #688
I agree that cmake is good in the long run here particularly as MSVC and MINGW both have different conventions for filenames and different formats for export files and static libs and we really should be isolated from having to discuss things such as lib prefix and suffixes (those differ based on tools and platforms).  What I'm concerned about is making sure that things are being done properly the

[2019-05-02 23:00] gabrielstedman commented on #598
I've done a few changes here: https://github.com/gabrielstedman/lz4/commit/06160df4e89c3ed6f42b2fe9177b38d02672f1a0

Got output like this WDYT?
Still need to test skippable frames if you're happy with the output I'll open a PR as soon as I do.

[code]

[2019-05-04 11:31] aleksazr opened #706 "Tested v191 with 1TB of data"
Just wanted to share that I have **successfully** tested compressing and decompressing
of every file (smaller than 1 GB) on my hard drives, using level 1.
That means text files, video, audio, exe and so on. In total, 1 TB of data in 655000 files.

Each file was loaded into buff1, compressed into buff2, decompressed into buff3,
and then memcmp of buff1 vs buff3. Also, return size was checked to be

[2019-05-04 15:49] gabrielstedman commented on #598
A few more modifications as per the advice given:

[code]

I'm not displaying the blocks per frame yet but that could be easily added later.

[2019-05-04 21:33] Cyan4973 commented on #706
Thanks @aleksazr , it's always great to receive real-world experience feedback !

[2019-05-04 21:46] Cyan4973 commented on #598
Looks great @gabrielstedman !

Regarding the value of `Ratio`, in order to be consistent with the `-b` benchmark utility, I would rather inverse the product.
aka, if "uncompressed size" is 1 KB, and "compressed size" is 0.5 KB, the ratio is "2.0".

Finally, try to add a few tests in `tests/Makefile`.
The objective of automated tests is not to display something, as no one will consult the results,

[2019-05-05 20:44] gabrielstedman commented on #598
I'll add some tests no problem.
Regarding the value of `Ratio` I'm a bit confused by why would you prefer to represent it like that when the output of the main lz4 compression is:
`Compressed 1048576 bytes into 4145 bytes ==> 0.40% ` (Represented as 0.004 in my current implementation)

[2019-05-05 21:22] Cyan4973 commented on #598
`Compressed 1048576 bytes into 4145 bytes ==> 0.40%`

That's a good point.
In which case, it makes sense to preserve the presentation inspired by the status line,
using the same format, aka `X.YZ%`, with up to 2 decimals after point.

[2019-05-07 22:51] #703 closed

[2019-05-23 11:32] parheliamm opened #710 "LZ4_FAST_DEC_LOOP on ARM64 need to improvement."
I was work on LZ4_FAST_DEC_LOOP #645 feature on my ARM64 devices.
I found some clues and share the info here:
1. LZ4_FAST_DEC_LOOP on Cortex-A53. didn't show obvious improvements like X86 did.
Test case dickens has downgrade compare with v1.8.3
2. Some clues:
a. different ARM64 has different memory implementation in libc. e.g Kryo use specific implementation compare with generic A53.
b. memcpy has

[2019-05-23 12:17] vtorri opened #711 "update copyright dates"
everything in the title. Especially lz4.h : copyright is 2015 :)

[2019-05-23 12:18] vtorri opened #712 "deprecated functions: add the version of lz4 when these functions have been deprecated"
everything in the title :)

[2019-05-23 12:20] vtorri commented on #711
oups, i've looked at an old lz4 :) closing

[2019-05-23 12:20] #711 closed

[2019-05-23 17:45] Cyan4973 commented on #710
Sounds great @parheliamm !

[2019-05-24 07:29] parheliamm commented on #710
Hi @Cyan4973 :
I create a new pull request #713 to improve the ARM64 decompress performance.
Please review it.
I use the objdump the disassemble code to check memcpy behavior, current memcpy didn't invoke the libc code, it is optimized by compiler.
Frankly, I don't have chance to profile API one by one, but current change could improveme the performance.
Pleaes kindly check the commit.
Chenxi

[2019-05-24 07:31] Cyan4973 commented on #710
Thanks ! I will check on an ARM64 system !

[2019-05-27 01:48] parheliamm commented on #710
Some information from profiling.
1.8.x vs 1.9.x

1. LZ4_wildCopy32 didn't show performance improvements.
v.1.9.x
  0.46      2.12     0.01   701666     0.00     0.00  LZ4_wildCopy8
  0.46      2.13     0.01   413760     0.00     0.00  LZ4_wildCopy32
v.1.8.x
  0.90      2.14     0.02  1077866     0.00     0.00  LZ4_wildCopy

2. LZ4_readLE16 invoked frequently on v.1.9.x
v1.9.x
  5.05      1.57

[2019-05-28 16:19] willoch opened #716 "A question really, why does lz4 compress not work with overlapping input and output"
libz and my own homegrown compressor handles the case where input is put at the end of the output buffer.

[code]
But this causes decompression to crash often. Even though I have increased offset quite a lot.
It is practical to not having to allocate a new buffer.

[2019-05-28 17:20] Cyan4973 commented on #716
`LZ4_compressBound(n)` can be reached, or at least approached, when input is not compressible.
In which case, LZ4 compression can partially overlap into input if it's too close, as it copies literals by stripes.
I would recommend :
1) Increase the buffer size by a margin. I'm not sure about the lower bound, but 64 bytes should be very safe.
2) still pretend that output buffer size is `LZ4_compress

[2019-05-29 01:45] hsiangkao commented on #716
(p.s. EROFS has a similar but not the same optimization which uses inplace decompression (much similar to what lzo supports[1]) to avoid many extra memcpys and extra decompressed buffer allocations...I will raise a topic later for lz4 user programs to discuss how to get how many overlapped bytes for each literal and match are safe in overlapped decompression (since more optimizations are added to

[2019-05-29 09:01] willoch commented on #716
No increase of margin worked.
Seems like it can use all of the output as scratch area.
used LZ4_compress_default.

Decompressor does not necessarily crash, but output not equal to original input.

[2019-05-29 09:03] willoch commented on #716
No increase of margin worked.
Seems like it can use all of the output as scratch area.
used LZ4_compress_default.

Decompressor does not necessarily crash, but output not equal to original input.

[2019-05-29 16:21] Cyan4973 commented on #716
That's not the expectation.
`LZ4_compress_default` doesn't use output as scratch area.

Could it be possible that something else is corrupting data between compression and decompress ?

[2019-05-29 18:18] Cyan4973 commented on #716
OK, got it.
The margin should be much larger, quite simply.

The issue is that LZ4 must be able to read up to 64 KB of unmodified history from input buffer.
If the margin is smaller than that, compressed output overwrites right into the history window.

I added a test case for in-place compression, and it works well using this margin.

I'll add some documentation about it.

[2019-05-29 19:09] Cyan4973 commented on #716
In the `inplace` branch,
I've added some code documentation and some macros
to help in-place compression / decompression scenarios.

This contribution is opened to comments.
Plan is to merge it into `dev` if it feels useful.

[2019-05-31 00:05] #710 closed

[2019-05-31 03:48] hsiangkao opened #720 "some proposal: since compressed data cannot be started at token 0x00 without dictionary, can user program use it as a user-defined mark?"
Hi,
Currently I think lz4 compressed block data cannot be started at token 0x00 without dictionary, therefore I want to use it as optional user-defined mark(beginning 0x00) for user programs to
1) use it as a place-holder, for example, use for EROFS to place holder nearly 4k compressed data to exactly 4k, thus oend will be exactly at the end of page boundary, eg:
  00 00 00 ... + compressed data..

[2019-05-31 10:11] willoch commented on #716
I forgot about the history. Too long ago I worked with this.
A more general way of solving this is for the compression algorithm to detect overlap, and limit searching in history to the front of the output.

zlib seems to work for me with overlap. I thought zlib used the same search in history, so strange.

[2019-05-31 17:00] Cyan4973 commented on #716
`LZ4` can do that, but at block level granularity, using `LZ4_compress_continue()`. Unfortunately, if the entire input is compressed as a single block, it's not helpful.

Byte level granularity is not implemented directly into the algorithm. Such capability would add more tests right into the critical loop, hence having an impact on speed. Obviously, it's not great to reduce speed for all usages j

[2019-05-31 18:00] Cyan4973 commented on #716
Also :
if the solution involves triggering of modifying some build macros at compilation time,
there is also the possibility to lower `LZ4_DISTANCE_MAX`, which is described in `inplace` branch.
It mechanically reduces the amount of margin required, and is available basically right now.

[2019-05-31 20:48] Cyan4973 commented on #720
FYI, there is actually a use for a starting token value `0x00` : it describes an empty block.
Granted, if `srcSize != 1`, it will be flagged as an error. Otherwise, it's perfectly valid.

I see your question in 2 levels :
- Could these changes be implemented at user level, for example as part of EROFS compression layer ? And I think the answer is yes. It makes sense, it fulfills a useful role in t

[2019-06-01 01:53] #720 closed

[2019-06-01 16:54] hsiangkao commented on #720
(add some words... I saw the following code you mentioned:
        if ((endOnInput) && (unlikely(outputSize==0))) { return ((srcSize==1) && (*ip==0)) ? 0 : -1; } /* Empty output buffer */

I think that is good, I will make full use of this characteristic at user level rather than change the existed behavior. And I think your explanation about “preserve homogeneity of the ecosystem” is strong. That

[2019-06-05 03:54] parheliamm opened #726 "FAST_DEC_LOOP: GCC8 has downgrade compare with GCC6/7 on ARM64"
@Cyan4973
I build lzbench via GCC 8.3 which come from https://developer.arm.com/tools-and-software/open-source-software/developer-tools/gnu-toolchain/gnu-a/downloads
I found GCC 8.3 has big downgrade compare with Linaro GCC6/7 on lzbench.
GCC-8.3 w/o inline
lz4 1.9.x 59 MB/s 422 MB/s 6428742 63.07 /sdcard/silesia/dickens
GCC-8.3 w/ inline
lz4 1.9.x 77 MB/s 435 MB/s 6428742 63.07 /sdcard/silesia/di

[2019-06-05 19:56] Cyan4973 commented on #726
I've noticed `gcc-8` performance regressions (compared to `gcc-7`) on multiple software, therefore not limited to `lz4`.
The 3% performance regression measured on your platform is unfortunately not even large compared to other known cases.

Unfortunately, I'm not sure what can be done. This seems more a `gcc` issue than an `lz4` one.

`gcc-8` likely changed its optimization heuristics in a way whi

[2019-06-05 20:35] parheliamm commented on #726
Can we add some warning message in Makefile to alert there are some downgrade if using GCC8?

[2019-06-05 21:29] Cyan4973 commented on #726
in `Makefile` ?
or in documentation, like `README.md` ?

[2019-06-06 00:50] parheliamm commented on #726
README.md is OK for me.

[2019-06-06 08:00] pps83 opened #728 "Decompression example should not use known src_size"
This doesn't make any sense. If it's ok to use known decoded size, why don't you go one step further and use known decoded data then?..
What about the case if decoded size isn't know, like in 99% of the use cases? What's the proper way to decode a buffer compressed with lz4? I'm staring at `LZ4_decompress_safe` in disbelief that nobody ever needed to know how much data to allocate before decompres

[2019-06-06 16:11] Cyan4973 commented on #728
Yes.
Either the size, or an upper bound of the size. This second case can sometimes be implicit to the application.

If you want a format that free your application from thinking about it, storing metadata alongside compressed data, prefer using `lz4frame` API.

[2019-06-06 16:46] pps83 commented on #728
It would be helpful if the docs made it clear in api description that the format doesn't store or can say what the upper bound is.

[2019-06-06 17:30] Cyan4973 commented on #728
https://github.com/lz4/lz4/blob/dev/lib/lz4.h#L60
https://github.com/lz4/lz4/blob/dev/doc/lz4_manual.html#L35

[2019-06-06 20:22] #728 closed

[2019-06-10 22:32] andrewsil1 opened #729 "Having some trouble compressing/decompressing a buffer that is >4MB in size."
I am building the LZ4 static library for use in a Xilinx FPGA Microblaze SDK C++ project.  I have no problem building or linking the library into my executable. I have some raw image data that I am compressing to reduce transmission time over a slow serial link.  As long as the total image data size is kept under 4MB (and the frameInfo blockSizeID is specified as LZ4F_max4MB), I am able to send an

[2019-06-10 23:08] Cyan4973 commented on #729
Which API are you using for decoding ?

[2019-06-10 23:14] andrewsil1 commented on #729
In C#:
[code]

[2019-06-10 23:51] Cyan4973 commented on #729
OK, so you are using `C#` for decoding,
but `C` for encoding ?

What do you call "simple API" ?

[2019-06-11 00:02] andrewsil1 commented on #729
Yes: compress with C, decompress with C#.

Simple API for compression:
LZ4F_compressFrame

Andy Silverman
Microsoft AIAA, Azure Hardware Systems Group

Written using Outlook<https://aka.ms/qtex0l> for iOS
Big thumbs, small keyboard — excuse typos.
________________________________
From: Yann Collet <notifications@github.com>
Sent: Monday, June 10, 2019 4:51:44 PM
To: lz4/lz4
Cc: Andrew Silverman; A

[2019-06-11 00:15] Cyan4973 commented on #729
Would you be in position to test the produced compressed frame with another tool ?
Such as, for example, the `lz4` CLI, if you can save the frame into a file ?
Or the `LZ4F_decompress()` API if you prefer to test all in RAM ?

This would help to pinpoint if the problem is on the encoder or decoder side.

[2019-06-11 01:02] andrewsil1 commented on #729
I can take a stab at that, good suggestions. I'll report back when I've had a chance to do that.

[2019-06-11 10:23] felix2ch opened #730 "Compress error"
We are porting lz4 to IOS. For some data, the compressed data can't be decompressing.
After some digging, We found below code:
`        /* Catch up */
        while (((ip>anchor) & (match > lowLimit)) && (unlikely(ip[-1]==match[-1]))) { ip--; match--; }
`
The match is the first byte in the input buffer for our case. So match[-1] give incorrect result.
Beside, I do not understand why '&' used in fi

[2019-06-11 16:53] felixhandte commented on #730
Hi!

Some invariants that should be in effect when this loop is called:

- `anchor >= source`
- There are four possible buffer layouts:
  - `dictDirective == usingDictCtx`:
    - `match` can be in `[dictionary, dictEnd)`: `lowLimit` is `dictionary` ([ref](https://github.com/lz4/lz4/blob/dev/lib/lz4.c#L897)).
    - `match` can be in `[source, ip)`: `lowLimit` is `source` ([ref](https://github.com/l

[2019-06-11 17:44] andrewsil1 commented on #729
I built the CLI and decompressed the incoming frame received by the C# app, and the decompressed frame is identical in content to what I can see in the original uncompressed memory buffer on the FPGA, which I've verified to contain correct data for the entire image (by sending it uncompressed and displaying it.)  My conclusion is therefore that something about the C# frame decompression library is

[2019-06-11 20:23] andrewsil1 commented on #729
Problem is solved: The C# stream reading API documentation is not _quite_ clear on the point that it may return less than the requested number of bytes even if all bytes are available, so you have to check its return values to determine if you are expecting more bytes than were supplied and call again to get the rest.

[2019-06-11 20:23] #729 closed

[2019-06-12 01:26] felix2ch commented on #730
Thanks for your reply so quickly!

I was debug that code again. The lowLimit does not initialize until compare with match.
The do statement loops 34 times, and no one lowLimit assignment be execute.

[2019-06-12 01:44] felix2ch commented on #730
Thanks for you reply!

I was checked the code, A porting error trigger this issue, it's embarrassed. We'll fix it.
Thanks for your help again!!

[2019-06-12 02:49] felixhandte commented on #730
Happy to help!

[2019-06-13 20:43] Google-Autofuzz opened #731 "Integrating with OSS-Fuzz"
Greetings lz4 developers and contributors,

We’re reaching out because your project is an important part of the open source ecosystem, and we’d like to invite you to integrate with our fuzzing service, OSS-Fuzz. OSS-Fuzz is a free fuzzing infrastructure you can use to identify security vulnerabilities and stability bugs in your project. OSS-Fuzz will:

- Continuously run all the fuzzers you write.

[2019-06-15 05:41] Taviruni opened #732 "A decompressed VHD can't be mounted on Windows againg"
Great program, very usefull for Rambooting compressed Wimboot VHDs by means of grub4dos 046a + SVBus driver

If I decompress (using -d parameter) a LZ4 compressed (using this parameters -12 --content-size --favor-decSpeed) Wimboot VHD even if I get a *.vhd file with exactly the same SHA1 Hash it can't be mounted on Windows.
But even if Windows is not able to mount the decompressed VHD it can be op

[2019-06-18 11:04] t-mat commented on #732
I'm not sure but it sounds it's caused by sparse file.  If sparse mode causes the problem, you can disable sparse mode by the following command
[code]

[2019-06-19 04:14] Taviruni commented on #732
Thanks very much for your very fast answer, your suggestion worked veri fine, no more troubles decompresind VHD.lz4 files.

You are doing a fantastic work here.

[2019-06-20 10:43] nacho opened #733 "Regression building on osx"
I am trying to build now 1.9.1 and I get the error below. 1.8.3 was building just fine:

[code]

[2019-06-20 16:18] Cyan4973 commented on #733
Explained in the release message :
"this release has an issue when compiling liblz4 dynamic library on Mac OS-X. This issue is fixed in : #696 ."

https://github.com/lz4/lz4/releases/tag/v1.9.1

[2019-06-20 19:09] Google-Autofuzz commented on #731
Hi,

Here is a sample fuzz target that you are welcome to modify and use.

Thanks!

Tommy,
The OSS-Fuzz Team

![example](https://user-images.githubusercontent.com/27442508/59874860-4a5f7900-936d-11e9-84db-a0f1caf9d989.png)

[2019-06-24 22:57] planet36 opened #734 "version info prints to stderr, not stdout"
Version information is printed to stderr.  Please consider printing it to stdout instead.

https://www.gnu.org/prep/standards/html_node/_002d_002dversion.html
GNU Coding Standards: --version

[2019-06-25 17:32] #734 closed

[2019-06-25 17:32] Cyan4973 commented on #734
Thanks for pointing that out @planet36 ,
this is now fixed in `dev` branch, and will be part of next release.

[2019-06-25 19:38] Cyan4973 commented on #726
I verified again, and for my desktop system at least, moving from `gcc-6` to `gcc-7` to `gcc-8` improves performance.

|   | gcc-6 | gcc-7 | gcc-8 |
| --- | --- | --- | --- |
| calgary | 3515 | 3555 | 3660 |
| silesia | 3600 | 3690 | 3750 |

So I guess the conclusion that `gcc-8` generates worse performance is not straightforward. I'm sure it happens, having observed it in other softwares, but it'

[2019-06-25 19:39] #726 closed

[2019-06-25 19:40] #732 closed

[2019-06-25 19:45] #706 closed

[2019-06-25 19:46] Cyan4973 commented on #704
fixed by @gabrielstedman (#715)

[2019-06-25 19:46] #704 closed

[2019-06-25 19:53] Cyan4973 commented on #598
feature completed by @gabrielstedman (#708)

[2019-06-25 19:53] #598 closed

[2019-06-26 02:28] CaptainDuke opened #736 "How to use lz4hc to compress/decompress a file"
When I type in lz4 -h in cli, there's no suggestion on 'lz4hc'

[2019-06-26 16:38] Cyan4973 commented on #736
Why should it ?

The help message mentions this line :
` -9     : High compression`

[2019-06-26 19:56] Google-Autofuzz commented on #731
If you want, we are gladly to help you to integrate OSS-Fuzz for LZ4 :)

[2019-06-27 09:05] cxht opened #737 "There is a heap-buffer-overflow vulnerability in 1.9.1"
Hi!
When I run your decompression function, I use ASAN to run the program and it reports a heap-buffer-overflow bug in lz4.c:1729  `memcpy(op, match, 8);
`
and here is the information printed by ASAN:

`==9410==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x7fed730f3e21 at pc 0x00000046e1b2 bp 0x7ffe230a0160 sp 0x7ffe230a0150
READ of size 8 at 0x7fed730f3e21 thread T0
    #0 0x46e1b1 i

[2019-06-27 09:06] #737 closed

[2019-06-27 09:21] cmeister2 commented on #731
If you're interested I am currently working on an integration here. I have some experience doing this for curl :smile:

[2019-06-27 09:32] cxht opened #738 "A heap-buffer-overflow vulnerability in v1.9.1"
Hi!
When I run your decompression function of v1.9.1, I use ASAN to run the program and it reports a heap-buffer-overflow bug in lz4.c:1729  `memcpy(op, match, 8);
`

And here is the information printed by ASAN:
[code]

[2019-06-27 13:48] cmeister2 commented on #731
@Cyan4973: I've got a branch available for the above work that's currently compiling and generating a valid fuzz target (though at the moment it's all pointing at my forks). Let me know if you want to take this forwards. If so, the next steps are probably to:

- configure this on oss-fuzz (I have a branch for that too)
- submit a PR for here

After that you can start making as many fuzz targets as

[2019-06-27 19:26] terrelln commented on #737
Why did you close the issue? Is the report a mistake?

If this is a bug, can you provide the input that triggers the problem? That makes debugging 10x easier.

[2019-06-27 19:27] terrelln commented on #738
Can you provide the input that causes this bug?

[2019-06-27 21:48] Cyan4973 commented on #731
Sounds great @cmeister2 !

[2019-06-28 12:45] cxht commented on #738
The command is `lz4 -d input.zip out`, and the input file(input.zip) is attached below.
[input.zip](https://github.com/lz4/lz4/files/3339221/input.zip)

[2019-06-28 14:06] Google-Autofuzz commented on #731
@cmeister2 Please let me know if you need help with integrating with oss-fuzz!

[2019-06-28 19:07] Cyan4973 commented on #738
I've tried to decode this file multiple times with `lz4`, both `v1.9.1` and `dev`, with ASAN enabled, and I'm unable to generate this issue

compilers tested :
[code]

Some results :

[code]

[code]

(note : the compressed size is weird in this mode, there is likely some bug to fix here)

[code]

See, decoding fails, but there is no asan warning anywhere.

However, @terrelln was able to reproduce

[2019-06-28 20:08] Cyan4973 commented on #738
Thanks @cxht , this is now reliably reproduced.
We'll get a fix soon,
but as importantly, we want to understand why our current test suite missed it, and make sure to upgrade it.

[2019-06-29 02:22] #738 closed

[2019-06-29 12:52] cxht commented on #738
Thank you!

[2019-06-30 20:05] #731 closed

[2019-07-01 00:21] terrelln commented on #738
FYI this was caused by PR #719, and was not present in any release.

Still, it showed valuable weaknesses in our test infrastructure that we are patching.

[2019-07-01 22:05] #733 closed

[2019-07-01 22:05] #730 closed

[2019-07-11 21:32] hamidzr opened #750 "use a test value in simple buffer example that actually reduces size (example improvement)"
It's beside the point of this example but it would be good to use an input text that actually reduces in size after compression the current text grows by 3% after compression.

https://github.com/lz4/lz4/blob/eb6b599a50db0c144f4f8f5cd2d7e8e480c31d4e/examples/simple_buffer.c#L41

[2019-07-12 00:26] #750 closed

[2019-07-15 18:07] terrelln opened #754 "Add more oss-fuzz coverage"
@cmeister2 recently added oss-fuzz fuzzers to LZ4 in #739. I added some more fuzzer tests in #752. We still need more coverage. This is an (incomplete) list of fuzzers we still need:

* [x] Dictionary compression (extDict, prefix, attached, smaller than 64K prefix, etc)
* [x] LZ4HC
* [x] LZ4 frame (dictionary) compression
* [x] LZ4 frame (dictionary) decompression

[2019-07-18 00:44] terrelln commented on #754
Added dictionary and streaming compression in https://github.com/lz4/lz4/pull/757.

[2019-07-18 01:37] terrelln commented on #754
Also added LZ4HC fuzzers to #757.

[2019-07-18 06:05] cmeister2 commented on #754
These Iook great BTW. Are they finding bugs yet? (I'm not on the cc list)

[2019-07-18 20:30] terrelln opened #761 "[LZ4HC] Speed up pattern compression with external dictionary"
LZ4HC detects patterns in the source data, like a huge run of 0s, and instead of becoming an N^2 algorithm, special cases it. However, this special case is only applied to matches in the current segment. Matches into the external dictionary skip this optimization. See https://github.com/lz4/lz4/blob/dev/lib/lz4hc.c#L317.

This task is to extend this optimization to apply to matches in the external

[2019-07-18 21:09] terrelln commented on #754
Yeah, 3 bugs fixed by https://github.com/lz4/lz4/pull/756, the bug fixed in https://github.com/lz4/lz4/pull/759, and an off-by-one in the bug fix in https://github.com/lz4/lz4/pull/760. Either found by oss-fuzz or when creating the fuzzers.

[2019-07-19 01:57] terrelln commented on #754
I added LZ4 frame fuzzers in https://github.com/lz4/lz4/pull/762.

I still have to add streaming LZ4 frame fuzzers to `round_trip_stream_fuzzer`, then we should have fairly complete coverage.

[2019-07-20 17:44] andrewsil1 opened #764 "Problems with GNU-compiled LZ4 when any optimization level is enabled"
I’m back with another issue related to using a statically linked version of the library in an application on a Xilinx 32-bit Microblaze (little endian.) If any of the GNU compiler optimizations are enabled at all when compiling the library (anything other than -O0), the program will crash somewhere in the compression routines due to a memory access stall.  I have tried to troubleshoot multiple the

[2019-07-20 22:57] Cyan4973 commented on #764
On the `liblz4` side,
you can enable `assert()` by compiling with `-DLZ4_DEBUG=1`.
If something is wrong within the library, it will help locating it.

[2019-07-21 00:43] andrewsil1 commented on #764
Good, I hadn’t seen that, so I’ll give it a try.

Andy Silverman
Microsoft AIAA, Azure Hardware Systems Group

Written using Outlook<https://aka.ms/qtex0l> for iOS
Big thumbs, small keyboard — excuse typos.
________________________________
From: Yann Collet <notifications@github.com>
Sent: Saturday, July 20, 2019 3:57:49 PM
To: lz4/lz4 <lz4@noreply.github.com>
Cc: Andrew Silverman <andrewsi@micros

[2019-07-21 03:39] andrewsil1 commented on #764
I played with turning up the value of LZ4_DEBUG.  At 5, the program still crashes after the following output:

`../lz4.c: LZ4_createStream 0x80a8c0b0
../lz4.c: LZ4_initStream
../lz4frame.c: LZ4F_compressUpdate (srcSize=1048576)
../lz4.c: LZ4_compress_fast_continue (inputSize=1048576)
../lz4.c: LZ4_compress_generic: srcSize=1048576, tableType = 2
../lz4.c: LZ4_compress_generic: compressed 1048576 b

[2019-07-21 18:44] andrewsil1 commented on #764
A few more findings.  I think it definitely has something to do with the assembly being generated whether optimized or not for the different cases of LZ4_FORCE_MEMORY_ACCESS.

- The lib defaults to memcpy, which is failing when the code is optimized, even though it's supposed to be "safe".
- If I force the value to 1 to use __packed, this crashes in the fashion as memcpy.
- Using Method 2 for dire

[2019-07-22 15:12] mckellyln opened #765 "v1.9.1 tag is not contained in any branch and thus does not show up in submodule list"
Thank you for lz4.
To use v1.9.1 tag in our lz4 submodule we need this tag to be contained within a branch so that it shows up when we fetch and then list all tags.
Is there a way to make sure new tags have at least one branch that contains them ?
thanks again.

[2019-07-22 19:39] mckellyln commented on #765
Perhaps the branch that originally contained the v1.9.1 tag was deleted ?
I'm not sure how it happens, but when there is no branch that contains the v1.9.1 tag I cannot see the tag in my lz4 submodule.

[2019-07-22 22:11] Cyan4973 commented on #765
That's a strange one.
If I `git clone` `lz4` repository,
and then do `git checkout v1.9.1`,
it does work properly, bringing me to the exact commit of this release :
[code]

You may also access it from website :
https://github.com/lz4/lz4/tree/v1.9.1

If it's a question of "branch origin", the release is normally created from the `master` branch, rather than the `dev` one, although both contain the

[2019-07-23 11:12] tanglianggithub opened #767 "question: any way decompress without supplying raw data size and compressed size ?"
for LZ4_decompress_safe, raw data size and compressed size must be recorded, such as https://github.com/lz4/lz4/blob/dev/examples/simple_buffer.c#L82.

Is there any way of decompressing without raw data size and compressed size?

[2019-07-23 19:20] Cyan4973 commented on #767
Nope.
Compressed size is an absolute necessity for `LZ4_decompress_safe()`. It must be transmitted in _some_ way. Oftentimes, the information is already transported as part of an upper layer, such as `payload_size`, but there is no rule, and every application does as it wishes or can.
For decompressed size, note that what's required is _an upper bound_ of decompressed size. In some applications, t

[2019-07-24 02:13] mckellyln commented on #765
@Cyan4973 thanks.  It may be something weird on our end not updating our fork properly.

[2019-07-24 02:13] #765 closed

[2019-07-24 20:47] #761 closed

[2019-07-25 15:57] andrewsil1 commented on #764
Unfortunately I think I'm going to have to abandon the investigation at this point - going any further with this is beyond my relatively minimal debugging skills.  Yes, the unoptimized code works, which I think I may have to just accept as the solution for the time being.  I don't expect Xilinx to care, as they are clearly abandoning Microblaze for all but budget platforms, as Zynq with hard ARM c

[2019-07-25 15:57] #764 closed

[2019-07-31 11:50] LeeYoung624 commented on #736
@CaptainDuke The `hc` lz4hc means `High Compression`, which means you don't need to directly use `lz4hc`. You can just use a higher compression level of `lz4` and the `lz4hc` would work.

[2019-08-05 09:05] Habil0011 commented on #630
abi sizde proqram varmi

[2019-08-06 15:20] #767 closed

[2019-08-06 15:20] Cyan4973 commented on #754
Are there still more `oss-fuzz` tests to add ? Or it this action completed ?

[2019-08-06 15:21] #736 closed

[2019-08-06 15:25] Cyan4973 commented on #716
The [API documentation](https://github.com/lz4/lz4/blob/dev/lib/lz4.h#L480) regarding in-place compression and decompression has been completely updated, with hopefully enough details to safely use this capability.
The API also feature some new constants and macros helping to safely determine buffer sizes.

[2019-08-06 15:26] #716 closed

[2019-08-06 15:26] #680 closed

[2019-08-08 13:45] Timmmm opened #775 "No way to distinguish unknown size from zero size."
[code]

Erm yeah, what about if the `contentSize` *is* zero? That should be a distinct value.

[2019-08-08 13:46] Timmmm opened #776 "LZ4F_compressFrame doesn't fill contentSize"
`LZ4F_compressFrame` knows the `contentSize` but it still leaves it as 0 (unknown), which is a bit of a shame.

[2019-08-14 03:34] 2qif49lt opened #778 "examples frameCompress.c bug"
https://github.com/lz4/lz4/blob/dev/examples/frameCompress.c#L31

should check the zero size write,  as LZ4F_compressUpdate could return 0 which means input data being buffered.

[2019-08-15 14:26] Cyan4973 commented on #778
I'm not sure to understand what's wrong here.
`LZ4F_compressUpdate()` may return `0`, meaning it has not generated any output, because it's buffering. But that seems compatible with `safe_fwrite()` implementation, which is always invoked after `LZ4F_compressUpdate()`, and will simply not write anything when the size is `0`.
I don't see what special should be done here ...

[2019-08-19 18:29] terrelln opened #781 "[CI] Fix OSS-Fuzz Travis-CI build"
The Travis-CI job builds the target branch of a pull request, not the source branch.

We should use `TRAVIS_PULL_REQUEST_SLUG` and `TRAVIS_PULL_REQUEST_BRANCH` if non-empty, otherwise use the existing `TRAVIS_BRANCH`.

[2019-08-20 19:29] rvandermeulen opened #782 "clang-tidy warnings with v1.9.2"
Hi, when looking at the recent 1.9.2 update, clang-tidy flagged some new issues:

**lz4.c:1417**
[code]
Warning: Statement should be inside braces [clang-tidy: readability-braces-around-statements]
Checker reliability is high, meaning that the false positive ratio is low.

**lz4.c:1699**
[code]
Warning: Statement should be inside braces [clang-tidy: readability-braces-around-statements]
Checker re

[2019-08-20 19:53] terrelln commented on #782
Thanks for the analysis! The style in LZ4 is to not use braces for single line if statements. I'd be happy to accept a PR with the rest of the changes. But, these are all style suggestions, not errors, so this is not release blocking.

[2019-08-21 10:45] 2qif49lt commented on #778
` assert(expectedSize / nbElt == eltSize); `

nbElt is 0 .

 (✪ω✪)

[2019-08-21 11:44] #778 closed

[2019-08-21 11:45] Cyan4973 commented on #778
Good point, fixed in latest `dev` update

[2019-08-23 12:15] jfkthame opened #783 "LZ4_decompress_safe_partial is broken in 1.9.2"
I'm seeing what I believe is incorrect behavior from `LZ4_decompress_safe_partial` in the latest release.

Specifically, in our use case we have a buffer of compressed data that may have a few bytes of padding at the end. We know the expected uncompressed size, but only the rounded-up (possibly padded) size of the compressed data. Therefore, we've been using `LZ4_decompress_safe_partial` to decomp

[2019-08-23 13:28] Cyan4973 commented on #783
Thanks for notification @jfkthame ,
the description of this issue does indeed sounds like a bug.
To be reproduced and investigated.

[2019-08-25 09:22] hsiangkao opened #784 "Cannot compress long zeroed buffer properly with LZ4_compress_HC_destSize()"
tested with the latest lz4 upstream library

tst.c
#include <lz4hc.h>
#include <string.h>
#include <stdio.h>

int main(void)
{

	int SrcSize = 1642496;
	char buf[1642496];
	char dst[4096];
	int compressed;

	void *ctx = LZ4_createStreamHC();

	memset(buf, 0, sizeof(buf));
	compressed = LZ4_compress_HC_destSize(ctx, buf, dst, &SrcSize, 4096, LZ4HC_CLEVEL_DEFAULT);

	LZ4_freeStreamHC(ctx);
	printf("

[2019-08-25 09:35] hsiangkao commented on #784
and LZ4HC_CLEVEL_MAX (LZ4HC_compress_optimal) has the same issue.

[2019-08-25 10:10] hsiangkao commented on #784
it seems that LZ4HC_InsertAndFindBestMatch didn't consider the outputbufferlimit, and generate a much longer match with the matchlength is larger than the buffer size...

pos:      0 -- literals:  1, match:1642490, offset:    1, cost:6446 + 0
                                                                                                                ^ > 4096
hmmm...

[2019-09-01 18:58] aleksazr opened #786 "Cppcheck warning in LZ4HC_compress_optimal"
File lz4hc.c

line 1293
    const BYTE* ip = (const BYTE*) source;
    const BYTE* anchor = ip;
so, ip = anchor.

line 1309
    assert(ip - anchor < LZ4_MAX_INPUT_SIZE);
is always true, because ZERO is less than LZ4_MAX_INPUT_SIZE.
Maybe it should be in the while loop, dunno.

[2019-09-05 20:22] tannerhelland opened #787 "lz4 Windows releases no longer include a dll"
Through release 1.8.3, lz4 releases for Windows included pre-built shared libraries (e.g. dll/liblz4.so.1.8.3.dll).

Starting with the 1.9.X line, prebuilt dlls are no longer present, and instead, only a static liblz4.dll.a file is shipped in the /dll folder.  It seems an unconventional change to provide a GCC-style static file here, especially when similar libraries (e.g. zstd) stick with the nor

[2019-09-05 21:41] Cyan4973 commented on #787
The `lz4` Windows packages are created automatically by a script on Appveyor.
I don't know why it changed lately, it's probably an unintended consequence after Appveyor script modifications, which were designed at improving test coverage, but may have impacted the Windows packages creation script of source data.
To be investigated.

[2019-09-06 09:54] zerodefect opened #788 "Potential optimization: Use restrict keyword on LZ4_wildCopy8?"
Would there be any performance improvement using the __restrict__ keyword on the LZ4_wildCopy8(..) function?  I'm guessing there is no overlapping between src/dst?

I've done a quick comparison in godbolt comparing the generated assembly with (and without) the use of the keyword. The compilers look to struggle to generate concise code without the use of the keyword. This looks equally applicable t

[2019-09-06 16:40] Cyan4973 commented on #788
This is likely applicable when copying literals,
but more risky when applied to match copies.

The only condition for `wildCopy8` is that `src` and `dst` get separated by a distance of at least 8.
But match may still overlap, which would violate `restrict` contract.
Ensuring this contract would require another condition (that distance is >= match length), hence another test, hence a potential bran

[2019-09-06 16:56] Cyan4973 commented on #788
cc @mgrice

[2019-09-07 13:35] zerodefect commented on #788
Thanks for the quick response. I think there could be a chance to squeeze out some more performance.

[2019-09-07 13:42] zerodefect commented on #788
The other thing I had considered is trying something like:

[code]

...but the mileage there would vary greatly if the diff is normally only 8 bytes. (Note: Untested).

Just throwing around some ideas :)

[2019-09-07 13:45] zerodefect commented on #788
It hopefully goes without saying, that the above code would still need existing code to handle remainder bytes.

[2019-09-09 02:38] hsiangkao commented on #788
If it really works, maybe inplace decompression could be needed to resolve (such as in separated path)... (for long literal sequences, overlapped LZ4_wildCopy8 could happen)
since in the view of user scenarios, extra memory allocation and memcpy could be extra overhead than this improvement..

[2019-09-15 01:54] nigeltao opened #791 "No stable frame API for dictionaries"
As of v1.9.2, I don't see any *stable* frame API (`lz4frame.h`) for compressing *with a dictionary*.

The `LZ4F_frameInfo_t` struct does have an `unsigned dictID` field, but that's just an ID, not the `(const void* dictBuffer, size_t dictSize)`.

There is a "Bulk processing dictionary API", but it is guarded by `LZ4F_STATIC_LINKING_ONLY`, and my (Go) program does not static-link lz4.

The block AP

[2019-09-15 04:59] nigeltao opened #792 "spec doesn't say how to handle "x += 255" overflowing"
The spec (`doc/lz4_Block_format.md`) says that a 255 byte means to add that to an accumulator and read another byte. It does not specify overflow behavior: what to do if e.g. decoding 17 million consecutive 0xFF bytes (`17000000 * 255` is around 4.3 billion, which is more than `1 << 32`).

Of course, a reasonable encoder shouldn't do that, but not every encoder is reasonable, and a malicious actor

[2019-09-15 06:04] Cyan4973 commented on #792
The compression format doesn't define any limit to length fields. Enforcing a limit is considered an implementation limitation.

So, for example, if an encoder considers that a length could be encoded using 64-bit registers, and starts sending a huge length with a huge amount of `255`, while the recipient decoder only supports 16-bit fields for length, and is unable to represent such a big number,

[2019-09-15 06:28] Cyan4973 commented on #791
That's a good point @nigeltao .
The dictionary API was still too young to be added to "stable" for `v1.9.0`,
but it's definitely an item on the list for next important update,
be it `v1.10.0` or `v2.0.0` (not decided yet).

[2019-09-15 06:48] degski commented on #791
@Cyan4973 Great, I was a bit surprised that code stopped compiling last time around. Then I did figure out the `LZ4F_STATIC_LINKING_ONLY` flag, which solved my problem [as that's what I do].

[2019-09-15 23:41] nigeltao commented on #792
Well, it doesn't have to be a decoding error. It's not necessarily that a well-intentioned encoder sends 17 million 255's to mean a big number (over 4 billion). A malicious encoder could exploit that there are actually multiple ways to encode a length of 600 (= 255 + 255 + 90). The canonical encoding is just a few bytes long, but a separate encoding is over 16 million bytes long. IIUC this impleme

[2019-09-16 00:56] nigeltao commented on #792
Conversely, suppose that the LZ4 block consisted of one literal byte "X", followed by a match offset of 1 and enough 255's to add up to a match length of `((1<<32) + 600)`. Two separate decoder implementations could produce different decodings (without any error): one a few hundred bytes long and one a few billion bytes long. Which implementation is correct? The spec doesn't say.

[2019-09-21 07:23] jfkthame commented on #783
Any chance of this being investigated soon? It's currently blocking us from updating to 1.9.2, but I don't understand the LZ4 code well enough to feel confident attempting a local patch to work around the problem.

[2019-09-24 19:48] Cyan4973 commented on #783
I'm sorry, availability is very hard these days.
The topic is still in the todo list, it will be addressed, but I can't commit yet to a date unfortunately.

[2019-09-29 06:41] o01eg opened #797 "MSVS 2017 project doesn't build lz4.exe"

[2019-10-10 00:58] archerian opened #799 "Detect if payload is compressed"
Hello,

Is there a way to check a char array to confirm its lz4 compressed? Getting optionally lz4 compressed data, wanted to see if there was a way to confirm its compressed and if so decompress else process as-is.

Thanks

[2019-10-10 01:05] Cyan4973 commented on #799
If it's compressed using the [Frame format](https://github.com/lz4/lz4/blob/dev/doc/lz4_Frame_format.md), which is the default format when using the `lz4` CLI, then yes : it's enough to read the first 4 bytes, and compare to the `lz4` magic number.

If it's a raw compressed lz4 block, then unfortunately no, there is no easy signal. Decompression must be attempted, and if if fails, it can be assume

[2019-10-10 11:21] archerian commented on #799
Thanks, I will check the return vale for LZ4_decompress_safe for a negative value.

[2019-10-10 11:21] #799 closed, assigned to nobody

[2019-10-10 15:42] sfermigier opened #800 "Wrong url for SophiaDB on the home page"
Should be: http://sophia.systems/

[2019-10-16 08:43] rfrohl opened #801 "Question concerning CVE-2019-17543"
Hi,
I am looking into CVE-2019-17543 [0][1], specifically I am trying to verify if the issue is present since 2014 as stated in the comment [2].

I am testing lz4 version 1.8 and tried to reproduce the issue using an asan build. The command used to reproduce was 'lz4 -1 -l reproducer outfile'.

Verified that libasan.so was used by lz4 and liblz4.so.1.8.0, verified that the correct liblz4 library i

[2019-10-16 18:32] Cyan4973 commented on #801
This is a relatively hard to trigger bug.

Yes, it has been in the lurking for a long time, but the conditions required to trigger it are not trivial. Actually, in most systems, including the `lz4` frame format and API, the bug is just out of reach. That's what makes it so difficult to discover, and since it also requires multiple uncommon constraints on the encoder side, which are out of direct c

[2019-10-17 08:41] rfrohl commented on #801
Thanks for the answer, that clarifies why the reproduce does not work in my test case!

[2019-10-17 08:41] #801 closed, assigned to nobody

[2019-10-24 07:15] VatishSharma12 opened #802 "Odin FAIL! LZ4 is invalid"
Hi, I have a ROM that I can flash on Samsung S10 5G(Qualcomm) successfully. My goal is to check whether I can modify `system.img` file of the ROM or not but before modification, I just want to verify that the AP file can be flashed after unpacking and packing of the `system.img`. To check this I have tried following:

**Unpack-Pack AP file:**

A) `tar` flashing:

1. Extracted AP file using `tar -x

[2019-10-26 02:39] Cyan4973 commented on #802
Nope, unfortunately.

Linux Kernel compression uses the `-l` legacy flag, but if what you are loading weights 3.6 GB, it's unlikely a Linux _Kernel_.

Beyond that, any bet are off. What Odin expects is specific to this application. So your better avenue is to look at Odin documentation.

A quick googling around show people proposing solution, such as :

[2019-10-28 10:50] zhengjunling opened #805 "Link address makes misunderstanding"
Link: https://github.com/lz4/lz4/archive/v1.8.3.tar.gz
Archive name: lz4-1.8.3.tar.gz

From link address, users may treat v1.8.3.tar.gz as the archive name, however, actually, the archive name is lz4-1.8.3.tar.gz.

[2019-10-28 17:06] Cyan4973 commented on #805
That's the usual link and archive names produced by github,
there's very little one can do about it,
if the tag was modified into `lz4-1.8.3`, then the associated archive would be named `lz4-lz4-v1.8.3`, which is no better.

[2019-10-28 17:57] zhengjunling commented on #805
I'm talking about the link address, not about tag name. Should the link address transfer to: https://github.com/lz4/lz4/archive/lz4-1.8.3.tar.gz ?

[2019-10-28 18:08] Cyan4973 commented on #805
Note that there are many possible links on the website, so it's important to be accurate about which one is the topic.

The link leading to https://github.com/lz4/lz4/archive/lz4-1.8.3.tar.gz is, as far as I know, the "Source code (tar.gz)" link in the ["Assets" section](https://github.com/lz4/lz4/releases/tag/v1.8.3).
As mentioned previously, this link and its name are automatically generated by

[2019-10-29 05:55] VatishSharma12 commented on #802
Thanks, `lz4 -B6 --content-size in.img out.img.lz4` worked.

[2019-10-29 05:55] #802 closed, assigned to nobody

[2019-11-02 15:00] martinradev opened #806 "Question: Can the "Framed Encoding Header Magic Number" alias with a "Block Encoding"?"
For one library we have been using lz4's block compression and storing the size in some separate structure.
However, we are considering switching to lz4's framed compression which adds a frame header the first 4 bytes of which is the following magic number: 0x184D2204U.
Unfortunately, there are already many files already created out-of-our reach using lz4's block compression. We would like to hand

[2019-11-03 02:27] Cyan4973 commented on #806
Yes, correct.

The LZ4 frame magic number can only be a valid sequence at the beginning of a new block _if_ said block follows some other blocks, or a dictionary, _and_ is allowed to reference into them. If the implementation never does that, which is common, then it can't be correct.

FYI, the LZ4 frame header also contains a 1 byte checksum. Therefore, when the first few bytes of the stream can

[2019-11-03 09:38] martinradev commented on #806
This answers my concern. Thank you. Closing.

[2019-11-03 09:38] #806 closed, assigned to nobody

[2019-11-04 10:56] chrissound opened #807 "lz4 compression is only using a single core?"
I'm using cat largeFile.iso | lz4 -10 - and it's going quite slowly (30mb/s?).

Using htop I see it using only a single core to 100%? Are there any additional parameters I need to specify? I can't seem to find any relevant info about this in lz4 --help.

[2019-11-04 17:51] Cyan4973 commented on #807
There is no multi-threading provided by `lz4` command line utility.

[2019-11-04 18:02] chrissound commented on #807
After reading the readme and seeing "providing compression speed > 500 MB/s per core, scalable with multi-cores CPU" this did give me the idea that it does support multiple cores.

I very much appreciate having this project as open source, though I do think that quote is a bit misleading.

[2019-11-04 18:02] #807 closed, assigned to nobody

[2019-11-04 18:17] Cyan4973 commented on #807
`liblz4` is _multithreadable_, that's generally the way it's used in most server-side applications.
In this environment, a user application will often spawn a lot of threads, each one doing some compression at some point in the pipeline. The property mentioned guarantees there is no risk compressing simultaneously from multiple threads. We do have other tools that have checked that the compression

[2019-11-08 21:04] KyleLangley opened #811 "Issue decompressing image loaded with stb_image.h"
I am able to compress the image just fine but when I am decompressing the image, the result of the decompress is always negative.

I have gone through a few trials (mostly dealing with stb_image result being unsigned char and lz4 being char) but I am unable to figure this out.

Full repro (VS 2017):

https://github.com/KyleLangley/lz4_compression_problem

cpp:

[code]

[2019-11-08 21:58] Cyan4973 commented on #811
Could you try to open files with `"rb"` parameter ?

[2019-11-09 02:45] KyleLangley commented on #811
Tried with "rb" and I did get a different result but still negative.

"r" == -8915916
"rb" == -4

Thanks

[2019-11-09 18:02] KyleLangley commented on #811
Continuing to test..

I have copied over the HCStreaming_ringBuffer.c example and ran through the case of using the direct FILE* type, which does compress and decompress without error. However the "compare" function does not succeed. Though when opening the resulting FILE output of the decompressed file in photoshop, it is identical to the original.

With that said, considering the FILE implementa

[2019-11-10 20:49] cmorganBE opened #812 "Should I expect to get the same compressed data when building for 32bit arm as for 64bit x86?"
Hello.

I'm looking to compress on an embedded arm platform for decompression on a pc or mobile platform. I'm using the same format in the examples:

[16bit length][data...][16 bit length][data...]...

I've verified through crc32 that the data on the embedded matches the pc side. The code to compress is identical although the code driving the compress has some minor differences that shouldn't affe

[2019-11-11 12:27] vidyasagargc opened #813 "verbose mode doesn't provide additional details"
When the following command is executed
 `lz4 -v <file_name >` / `lz4 -d -v <file_name.lz4>`

Block size and time duration took to complete either compression/decompression are not getting displayed

**Actual output:**
`*** LZ4 command line interface 64-bits v1.8.3, by Yann Collet ***`
`Compressed filename will be : file1.lz4 `
`Compressed 1073741824 bytes into 4214543 bytes ==> 0.39%  `

**Expecte

[2019-11-13 20:22] KyleLangley commented on #811
To followup, as a lesson in "it should of been obvious":

**IterationBufferSizeRead = fread(OutResult.Ptr, 1, OutResult.Size - 1, File);**

`OutResult.Size - 1` causes an of by 1 error in the read, causing the decompress to fail because it cant resolve the end of the file.

Removing the " - 1" fixes this problem.

[2019-11-27 00:36] terrelln opened #814 "LZ4Frame: Allow the user to inject data into the decompression stream"
Imagine a protocol that disallows the compressor to inflate the packet size and we want to use LZ4Frame streaming compression.

Whenever we compress a packet, and it gets larger, we must send it uncompressed because of the protocol restrictions. We now need to reset the compressor and decompressor, since the decompressor will never receive the uncompressed block, and the compressor has already pro

[2019-12-01 03:58] fastmarketo opened #816 "ZipArchive"
https://www.php.net/manual/en/ziparchive.addfile.php

Can the above PHP function be used with your compression algorithm?

[2019-12-01 04:37] Cyan4973 commented on #816
I don't know this function,
but it seems unlikely.

[2019-12-01 04:46] fastmarketo commented on #816
One WP PLugin claims to be using this →
https://tinyurl.com/rlq5yas

[2019-12-01 04:52] Cyan4973 commented on #816
I see a comparison between lz4 and deflate,
though I don't see a direct relation with the function linked in the first message.

If you feel there is a relation, better ask him directly, he's likely a more relevant contact point.

[2019-12-01 04:58] fastmarketo commented on #816
It is clearly mentioned in the comparison that they are using ".WPRESS" extension.

[2019-12-01 07:34] t-mat commented on #816
Hi @fastmarketo ,
I think there're some unfortunate misunderstanding.  But hope the following answer resolves them.

### (1) PHP Zip extension and its function `ZipArchive::addFile` don't support lz4.

No, `ZipArchive::addFile` and [PHP Zip extension](https://www.php.net/manual/en/book.zip.php) can't manipulate LZ4.  Please read [Introduction of Zip extension](https://www.php.net/manual/en/intro.z

[2019-12-02 23:18] Cyan4973 commented on #813
These information are displayed when using the _very verbose_ command `-vv`.

[2019-12-02 23:25] Cyan4973 commented on #812
Yes, it can happen that 2 different platforms compress the same data differently, yet the decoded outcome remains identical to original.

As an "obvious" way to achieve such outcome, compress the same file but with different compression levels : the compressed result will be different, yet still decodable to the same original content.

Such differences can also exist depending on platforms, althou

[2019-12-03 05:10] vidyasagargc commented on #813
It's working as expected, thanks.

**lz4 -vv file**

*** LZ4 command line interface 64-bits v1.8.3, by Yann Collet ***
_POSIX_C_SOURCE defined: 200112L
_POSIX_VERSION defined: 200112L
PLATFORM_POSIX_VERSION defined: 200112L
Compressed filename will be : file.lz4
Compressed 1024000000 bytes into 4019314 bytes ==> 0.39%
**Completed in 2.41 sec  (cpu load : 93%)**

[2019-12-03 17:50] #813 closed, assigned to nobody

[2019-12-04 00:37] #797 closed, assigned to nobody

[2019-12-04 00:49] Cyan4973 commented on #800
Thanks for notification @sfermigier !
Link is now fixed

[2019-12-04 00:49] #800 closed, assigned to nobody

[2019-12-04 07:19] Satann opened #818 "Question concerning CVE-2014-4715"
Hi,
I am just looking into CVE-2014-4715 [1], specifically I am trying to verify if the issue is present since 2014.
the topic concerns of versions before 1.1.9. so i search the issues and release notes of v1.1.9.
but i can't find some references proving the CVE-2014-4715 be solved.
so please help me to check it, thanks very much.

[0] https://nvd.nist.gov/vuln/detail/CVE-2014-4715

[2019-12-04 08:58] Cyan4973 commented on #818
This was fixed at release `r119` (the versioning system used to be different back then),
available at : https://github.com/lz4/lz4/releases/tag/r119 ,
released Jul 2, 2014 .

The corresponding library `lz4.h` actually identifies itself as `v1.2.0`.

[2019-12-04 09:46] Satann commented on #818
thank you very much, yan.
yes, from the release tag i find the commit solving this vulnerability : https://github.com/lz4/lz4/commit/140e6e72ddb6fc5f7cd28ce0c8ec3812ef4a9c08
now i can go on with my work!
best regards.

[2019-12-04 09:46] #818 closed, assigned to nobody

[2019-12-04 23:19] #816 closed, assigned to nobody

[2019-12-04 23:20] Cyan4973 commented on #816
Thanks for the detailed answer @t-mat ! I believe it fully answers the question .

Closing

[2019-12-04 23:22] #811 closed, assigned to nobody

[2019-12-04 23:28] #805 closed, assigned to nobody

[2019-12-04 23:45] #788 closed, assigned to Cyan4973

[2019-12-05 02:42] fastmarketo commented on #816
I have some more questions to ask. Can this be re-opened?

[2019-12-05 06:35] Cyan4973 commented on #816
Sure, continue, we are still subscribed

[2019-12-05 11:30] t-mat commented on #816
@fastmarketo I'm also still reading this issue.

But please note that if you have a question about the WordPress plugin "All-in-One WP Migration" or `.wpress` file format, I highly recommend to ask them at [official support forum of the plugin](https://wordpress.org/support/plugin/all-in-one-wp-migration/).
Since this issue thread is for discussion about LZ4 library/format/CLI utility, we can't an

[2019-12-05 13:41] t-mat opened #819 "There's a chance to introduce GitHub's issue templates"
Subject: Can we introduce [GitHub's issue templates](https://help.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository) to this project?

Recently, actually recent 24 months ;) , I've observed that there're many vague issues here GitHub issues of LZ4 project.
And also I can say that there're many users and potential contributors who are struggling to exp

[2019-12-16 23:34] IlyaGrebnov commented on #787
@Cyan4973, are you still looking into addressing this for future releases and including official windows builds as part of release?

[2019-12-17 00:17] Cyan4973 commented on #787
Yes, at some point in the future.
On short term though, my bandwidth is limited...

[2019-12-17 00:35] sapoluri opened #821 "Array Index out of bounds"
For the hashTable array, when memory usage is 14, array size is 4096. When I run lz4 on an input image I have, the value of "h" i.e the table index, sometimes comes out to be more than 4096. In situations, where the assert is a null op, I am assuming we are accessing memory beyond the array.
This seems like a problem that should most definitely be addressed.

Either that, or I am losing it.

[2019-12-17 00:43] Cyan4973 commented on #821
`14` defines a hash table size, in this case 16 KB.

It is then translated into a hash table.
In some cases, it means a hash table of 4096 elements, because elements are 4 bytes (either 32-bit indexes, or raw 32-bit pointers, when applicable).
In other cases, it means a hash table of 8192, because elements are 2 bytes.

LZ4 has a strong test suite continuously running, and obvious out-of-bound acc

[2019-12-17 00:57] #821 closed, assigned to nobody

[2019-12-19 07:53] buweilv opened #822 "LZ4_resetStream_fast in LZ4_attach_dictionary doesn't make sense any more"
function "LZ4_resetStream_fast" is added in LZ4_attach_dictionary at commit "f2ae385c2f" in order to make sure that changes will not be erased by subsequent calls to LZ4_resetStream_fast() in case stream was marked as having dirty context, e.g. requiring full reset.
Correspondingly， when LZ4_compress_generic goto failure cctx->dirtyContext is set to 1. However, now,  LZ4_compress_generic goto fail

[2020-01-03 22:35] juwens commented on #807
@chrissound i've came here for the very same reason.
the mentioned project is https://github.com/t-mat/lz4mt
there's also a go project which just implemented a kind of concurrency: https://github.com/pierrec/lz4

[2020-01-15 15:00] reybits opened #824 "Apple Non-public API usage _LZ4_decompress_safe"
Yesterday, when I uploaded app binary in Apple AppStore Connect, I received the following error message:

Can someone advise a way to solve the problem?

[2020-01-16 03:52] sn0041 commented on #584
我也遇到这个问题了 请问怎么解决

[2020-01-16 17:05] Cyan4973 commented on #584
As mentioned above, you have to make your own decoder program, and use `LZ4_decompress_safe()` (or a wrapper to it) to decode the block(s). You will also need the size of the compressed block, and the maximum possible size of the decompressed data, for each block.

[2020-01-22 15:23] remittor commented on #784
It seems to me that it's my fault: https://github.com/lz4/lz4/commit/f007153e3f0c401d51d6ba5f6ecf27b223591ef2
I'll try to fix it ...

[2020-01-22 15:32] gkodinov opened #827 "alignment checks added to lz4hc.c don't work even on linux"
This check in lz4hc.c (e.g. in LZ4_initStreamHC())
#ifndef _MSC_VER  /* for some reason, Visual fails the aligment test on 32-bit x86 :
                   * it reports an aligment of 8-bytes,
                   * while actually aligning LZ4_streamHC_t on 4 bytes. */
    assert(((size_t)state & (LZ4_streamHC_t_alignment() - 1)) == 0);  /* check alignment */
#endif

doesn't work even on non-MS Windo

[2020-01-23 16:50] nrgiii opened #828 "MS Visual Studio under Cygwin ?"
We build lz4 under cygwin using MS Visual Studio command line invocations of cl and link. The makefiles that come with lz4 do not support this so, we roll our own.  Does anyone else do MS windows builds this way?  Any interest supporting this build configuration?  If so, I can try to update the makefiles that ship with lz4 and submit a PR.  If not, we will keep rolling our own.

Norm Green

[2020-01-24 22:09] Cyan4973 commented on #827
Do you have an example of failure ?

memory aligned on 4 bytes is correct for 32-bit systems,
the check should just determine and verify this condition,
and not "upgrade" the requirement to 8-bytes, which would be incorrect.

[2020-01-25 08:33] gkodinov commented on #827
The only reproduction I have is replacing the lz4 sources into the mysql
server source tree, compiling it on a 32 bit linux and running the tests.

Best Regards,
Georgi Kodinov

На сб, 25.01.2020 г. в 0:09 Yann Collet <notifications@github.com> написа:

[2020-01-27 11:32] remittor commented on #784
@hsiangkao, @Cyan4973

Seems to have fixed: https://github.com/remittor-pr/lz4/commits/hc_dstsize_3
Fuzzing test completed successfully!

Now should add new tests to the `fazzer`.

[2020-01-28 18:31] esxgx commented on #784
Hi remittor,
I have not enough time to do the full regression test since I'm mainly focusing on EROFS development now.
But I'm very happy it could be fixed in LZ4 upstream :)

Thanks,
Gao Xiang

[2020-01-28 20:42] mojca opened #832 "lz4.h is trying to use undefined __GNUC__"
Super low priority issue.

When compiling `lz4` as part of another library with clang in Visual Studio, I'm getting a warning about undefined `__GNUC__`:
[code]
which comes from admittedly "obsolete" corner of the code and which probably ends up in correct branch anyway:
[code]

[2020-01-28 21:15] Cyan4973 commented on #832
Thank for the notification @mojca !

Quick question :
we happen to have some Visual Studio compilation test, like this one :
https://ci.appveyor.com/project/YannCollet/lz4-1lndh/builds/30391407/job/cl9ciecqgjtraiuj

but, for some reason, they don't trigger this warning.

Any idea what could be done to make the test produce the same "undefined" warning ?

[2020-01-28 21:28] mojca commented on #832
First of all: You are using Visual Studio 10 which is pretty old. I suspect that clang came bundled with VS out of the box only in Visual Studio [16.1](https://devblogs.microsoft.com/cppblog/clang-llvm-support-in-visual-studio/). Out-of-the-box as in: you still need to explicitly install it, but it's just a click of a button as opposed to downloading from third-party website and tweaking build sys

[2020-01-28 21:36] mojca commented on #832
I see that you also have a Visual Studio project for 2017. You would have to create one for 2019 and explicitly change the toolchain, so you would basically need to have two separate project files (one for the default compiler and one for clang; and then more if you want to test with different versions of VS) if you want to use them in CI. It might help to create CMake and generate VS project on t

[2020-01-28 21:40] Cyan4973 commented on #832
You are using Visual Studio with `clang` as back-end compiler ?
Indeed, that's a combination that's not part of our current CI.

Note that we do have a `clang` test, but it's based on `msys2` environment.

`clang` normally defines `__GNUC__ ` by default.
That's the case for `clang` on `msys2`, hence there is no "undefined" warning.

But, apparently, `clang` for Visual Studio doesn't define `__GNUC

[2020-01-28 22:04] mojca commented on #832
Sorry, I don't distinguish backend from frontend in compiler nomenclature :), but yes, I'm using clang as explained above.

Yes, clang definitely defines `__GNUC__` on macOS as well, but all I can tell you is that it's completely useless there as  it's always "gcc 4.2", and clang versions are not the most straightforward to extract after Apple mangles with numbering scheme.

Judging from this warn

[2020-01-29 13:20] Silviu-Caprar opened #833 "v1.9.2 License for meson folder"
Hi there,

For example,
In /contrib/meson/meson_options.txt we read:

# This source code is licensed under both the BSD-style license (found in the
# LICENSE file in the root directory of this source tree) and the GPLv2 (found
# in the COPYING file in the root directory of this source tree).

Do both BSD from the lib folder and the GPLv2.0+ apply on this file ?
Or is just an information regarding

[2020-01-29 20:55] Cyan4973 commented on #833
The general idea regarding license for the LZ4 repository :
- everything in `lib` is BSD licensed.
- unless when explicitly set to another license, all other files are GPLv2 by default. This includes the CLI code in `/programs`.

This rule is mentioned at root directory, in the file `LICENSE`.

`meson_options.txt` gets into the "exception because explicit license". And the meson license states tha

[2020-01-30 05:57] Silviu-Caprar commented on #833
Thank you for clarifying this.

[2020-01-31 11:22] entrebites opened #836 "Archivo lz4 1.9,2 para win 32"
Al descargar el ejecutable .exe de Lz4  resulta imposible su instalacion en winows 7 lo he provado en varias pc. hay algun requisito gracias...

[2020-01-31 15:44] Yanpas opened #837 "LZ4HC_compress_optimal stack frame is too big"
We are using coroutines, which are 32kb size by default. This function has the following variable:
[code]
which is 64kb.

There is already defined macro LZ4HC_HEAPMODE 1, but unfortunately it is used only for LZ4_streamHC_t

[2020-01-31 23:40] Cyan4973 commented on #837
Yes, I agree, this is indeed too big for some stack, and it would be better to have an option to pass that to heap.

[2020-02-01 04:26] remittor commented on #837
@Yanpas,
`opt` pointer should be stored in HC context.

[2020-02-01 17:07] ojeda commented on #787
Given the dates between 1.8.3 and 1.9.0, perhaps it was one of the commits between 31ce8b56..0360981f to `lib/Makefile`.

[2020-02-04 22:40] ojeda commented on #832
@Cyan4973 `clang-cl` defines `_MSC_VER` instead because it is intended as a drop-in replacement for MSVC, so nothing special to be done for it.

The question becomes: why are we not seeing the warning for regular MSVC? It does not seem to appear in AppVeyor (is something defining `__GNUC__`?).

@mojca Can you please try building with the normal MSVC in your setup to see if the warning appears?

[2020-02-06 15:53] rmungu opened #840 "unable to pipe --list output"
Hi,

I'm attempting to pipe the output of the lz4 --list option, but it only seems to send to stdout with a warning.
ex.

`>lz4 --list example.dmp.lz4 | find "example.dmp"
`

`Warning : using stdout as default output. Do not rely on this behavior: use explicit `-c` instead !
    Frames           Type Block  Compressed  Uncompressed     Ratio   Filename
         1       LZ4Frame   B7I       1.11G

[2020-02-06 17:10] Cyan4973 commented on #840
It's reasonable to expect the "Warning" message to not be present when requesting `--list`.

It seems you would also prefer the header/title line to not be present.
Using `gzip` as a reference for the intended behavior is a good point.

[2020-02-06 18:15] rmungu commented on #840
The "Warning" and header/title lines output is all acceptable - no issues there.  I was including that to show what I had tried and results.

The output with the --list option does not seem to want to pipe to other command (find or grep) in order to send the 1 line to the .txt file.

I've also tried send the output to a file

`> lz4 --list example.lz4 > example.txt`

and I get an empty text file.

[2020-02-07 05:52] filipecalasans commented on #840
See PR #842 as a fix for this issue.

[2020-02-07 18:18] Cyan4973 commented on #840
Fixed by @filipecalasans in #842

[2020-02-07 18:18] #840 closed, assigned to nobody

[2020-02-19 21:45] JonKohler opened #845 "Comp speed regression on 1.9.2 on multiple corpus"
I'm working on a project to upgrade our use of LZ4 from 1.7.1 to 1.9.2.

Part of our regression suite is a compression performance test that we use benchmark speed/ratio for many compression algos, including both lz4 and lz4hc.

We're seeing regressions in comp speeds across all of the corpus for both LZ4 and LZ4HC. We use Canterbury, Silesia, and Enron.

I've run our test a few dozen times for bo

[2020-02-21 07:39] remittor commented on #845
I confirm it
[code]
[code]

[2020-02-21 20:20] JonKohler commented on #845
I've updated the original post with more data and observations and updated the title to reflect what we're seeing. I've also added data from silesia and enron corpus. Same trend over each of them, we're seeing 1.9.2 be slower than our current 1.7.1 implementation

[2020-02-21 20:41] Cyan4973 commented on #845
There have been much changes between v1.7.1 and v1.9.2, so I'm not too surprised that there are measurable differences between these versions.

On the "fast" LZ4 side, one can note that the measured scenario uses `acceleration = 3`.
This is less common than `acceleration = 0 | 1`.
Under this specific condition, `v1.9.2` is now both slower and compress better than `v1.7.1`.

It could be that a late

[2020-02-21 22:02] JonKohler commented on #845
Thanks for the detailed response @Cyan4973

To compare some high levels for HC, I've measured 3-12 step by step. each of the results was almost exactly the same compression level, but the speed, of course, getting slower with each step.

In between level 6 and level 12, at least on this data, it only makes a ~0.1-0.2-ish % better ratio but is ~3x lower speed.

Is that expected for HC? I'm trying t

[2020-02-21 22:16] Cyan4973 commented on #845
I have no obvious idea to explain these performance swings. I will need more time for a thorough investigation.
What would be useful at this stage is a bisection, in order to detect which version(s) have introduced a performance change. This would point to some more precise code changes, and make it easier to arbitrate.

[2020-02-22 00:41] Cyan4973 commented on #845
I made a quick check, comparing `v1.7.3` to latest `dev` branch.

For "normal" `lz4`, I measure a < 1% compression speed reduction, and an identical compression ratio. Decompression speed, on the other hand, is dramatically improved.

For "accelerated" `lz4`, a strange thing is : I actually measure an _improved_ speed, of `dev` compared to `v1.7.3`, but with a corresponding _reduction_ of compress

[2020-02-22 01:13] Cyan4973 commented on #845
I've been updating my bench setup to get exactly the same version as the ones reported (`v1.7.1`, aka `r131`, vs `v1.9.2` (not `dev`)).

I measured again speed and compression ratio, using `calgary.tar`, and separately `pi.txt`.
Here are the results :

| file | version | acceleration | Compression Speed | Compressed Size | Decompression Speed |
| --- | --- | --- | --- | --- | --- |
| pi.txt | v1.7

[2020-02-22 01:22] JonKohler commented on #845
Thanks @Cyan4973 - I've been spending my evening trying to figure this out as well. It's a real head scratcher. We're using the same compiler setup on both configurations, GCC 7.3.0 with a myriad of flags (but albeit the same for each toolchain). I'll try to monkey with that, as well as trying to reproduce this on fullbench or lzbench or (something else) rather than our own UT to see if we can get

[2020-02-26 07:18] sunny-shu commented on #836
1. Download lz4_win32_v1_9_2.zip, directly extract, there is lz4.exe, do not need any special installation
2. Make sure you include both the library path DLL and header path into your system environment.

[2020-02-26 08:32] sunny-shu commented on #828
Hello, may I ask what version Visual Studio is? The purpose is to reproduce the problem. I am very interested in building.

[2020-02-26 18:06] #837 closed, assigned to nobody

[2020-03-03 19:20] Cyan4973 commented on #836
I guess the answer of @361442342 looks correct.
Where you expecting some kind of Windows Installer ?

[2020-03-03 19:20] #833 closed, assigned to nobody

[2020-03-07 13:18] ojeda commented on #836
Perhaps they are referring to #787?

[2020-03-09 17:14] Cyan4973 commented on #819
Thanks for suggestion @t-mat !
Issue templates have been recently implemented by @bimbashrestha

[2020-03-09 17:14] #819 closed, assigned to nobody

[2020-03-09 17:15] #812 closed, assigned to nobody

[2020-03-09 18:48] traversc opened #847 "Undefined behavior with clang 11 ("runtime error: applying zero offset to null pointer")"
I believe the issue appears in two places (and possibly elsewhere)

https://github.com/lz4/lz4/blob/dev/lib/lz4.c#L822

https://github.com/lz4/lz4/blob/dev/lib/lz4.c#L830-L832

Here is a minimal example of the issue: [https://godbolt.org/z/g85jN_](https://godbolt.org/z/g85jN_)
(The error message doesn't appear on earlier versions of clang)

[2020-03-09 19:09] Yang-YiFan opened #848 "Is LZ4_MEMORY_USAGE the granularity of compression in LZ4 "Block" API?"
The description of LZ4_MEMORY_USAGE is not clear to me. Is LZ4_MEMORY_USAGE in [lz4.c](https://github.com/lz4/lz4/blob/dev/lib/lz4.c) the compression block size described in [streaming_api_basics.md](https://github.com/lz4/lz4/blob/dev/examples/streaming_api_basics.md)?

[2020-03-10 06:03] Cyan4973 commented on #848
`LZ4_MEMORY_USAGE` refers to the size of the compressor state, aka the active memory required for the compression to work, _on top of_ the input and output buffers.

The LZ4 compression state is described here :
https://github.com/lz4/lz4/blob/v1.9.2/lib/lz4.h#L563.

The vast majority of its size is controlled by `hashTable`, which is itself sized to occupy the space specified by `LZ4_MEMORY_USAGE

[2020-03-10 19:13] Yang-YiFan commented on #848
If I want to compress a huge input array in, for example, 4KB block granularity. Are you suggesting that I have to manually slice input array into 4KB blocks and invoke lz4 individually on each block to compress them?
A related question is that does each block (after compression) contain its own header (lz4 state/hash table) in "Block" API compression mode?

[2020-03-10 20:10] Cyan4973 commented on #848
yep

nope, the block mode doesn't store _any_ metadata, it has to be provide by any other way.
The reasoning is, there are so many ways metadata can be transported or inferred that it felt too restrictive to impose a "universal" one.

That being said, there is another format that does all this, it's the LZ4 frame format. This one is published in `lz4frame.h`, it does cut large input streams into s

[2020-03-10 20:13] Yang-YiFan commented on #848
Awesome! Does the LZ4 frame format have inter-block dependency?

[2020-03-10 20:24] Cyan4973 commented on #848
By default, blocks are independent,
but blocks can be made dependent by adding `-BD` on the command line.

[2020-03-10 21:00] Yang-YiFan commented on #848
Thank you so much! It's very helpful.

[2020-03-10 21:00] #848 closed, assigned to Cyan4973

[2020-03-15 17:05] dimtass opened #849 "LZ4_FORCE_INLINE has a performance hit"
**Describe the bug**
First of all it's not really a bug, but it's not a feature, too; therefore I create this as a bug.

I've did some tests on the compression algorithm using an STM32F303CC microcontroller and the GCC 9 compiler. This MCU has a Cortex-M4 core. I've tried to place the `LZ4_compress_generic()` function in FLASH, SRAM and CCM and run some benchmarks and I've found out that the `LZ4_

[2020-03-26 01:45] arashams commented on #660
Do you know how fast the lz4 is?
I tried to do lz4 with-1 option (to be the fastest) but I couldn't get a higher speed than 121MB / s, but as you may read before some people get higher speed! around 911MB/s
I was wondering why that's happening?
Or do they use multi-thread?

[2020-03-26 04:05] Cyan4973 commented on #660
You can get higher speeds, with for example `lz4 --fast=8`.
That being said, `lz4 -1` should be way faster than 100 MB/s.
What kind of cpu are you using ?

[2020-03-26 04:43] arashams commented on #660
It's  actually 40 core xeon e5-2650 be @ 2.30 GHz processor

[2020-03-26 10:58] Cyan4973 commented on #660
This is likely incorrect then.
There is a bit of variance depending on files, but even in worst case scenarios, I don't see how it could come down to such speed.

2 remaining elements :
- how is generated the `lz4` version you are trying
- how is measured the speed

[2020-03-26 19:26] arashams commented on #660
I use lz4 -1 -B4 (for 64KB block size)
I tried to update the Lz4 on the terminal it returns this:
python-lz4 is already the newest version (0.7.0+dfsg-3build1).
I saw a newer version here but I don't know how to use it. :(
I download it first then I used make command, and then make install, (lz4 1.9.2) but I don't know how to run this app on the Ubuntu terminal.  what is the command to use?
Could

[2020-03-26 20:34] Cyan4973 commented on #660
did you tried typing `lz4` ?

On Ubuntu, an alternative is to use the native package manager,
`sudo apt install lz4`
though this will probably install an older version,
and local compilation + installation should work too.

[2020-03-26 20:50] arashams commented on #660
[code]
I used this to install lz4:
[code]
I tried to upgrade and update repositories, but I think it's the latest version in the repository.
How should I install latest version manually and run it in the terminal? 
the apt-get version seems to be very old.

[2020-03-26 21:19] Cyan4973 commented on #660
`make`
`sudo make install`
`lz4`

[2020-03-26 21:22] arashams commented on #660
I did that, but how do I know this is the version that I install manually, not the version that I've installed from apt-get?
[code]

[2020-03-26 21:24] Cyan4973 commented on #660
`which lz4`

you can also uninstall the `apt-get` version to be sure that only the manually installed version remains.

[2020-03-26 21:28] arashams commented on #660
Thank you!
I removed it with apt-get remove, so this is the latest version I suppose.
[code]

[2020-03-26 22:11] Cyan4973 commented on #660
Yes it is.
Can be further checked with `lz4 -V` (or `lz4 --version`).

Now test the speed with `lz4 -b someFile`.

[2020-03-26 22:23] arashams commented on #660
Wow yes it seems the speed went up to 439.5 MB/s
I can see that it uses only one core CPU, is there any way to use all 40 cores to 100 percent of their processing power and then see the compression speed?

[2020-03-26 22:29] Cyan4973 commented on #660
It (generally) doesn't make sense for an I/O application, where the bandwidth is limited at some much slower speed anyway.

`lz4` can be multi-threaded, but this is more at a programming level : for example, a database will have multiple queries in flight, each one featuring some compression / decompression operation. This will allow the database application to multi-thread compression across as m

[2020-03-26 22:46] arashams commented on #660
Thanks for all the info. I calculated the compression rate based on the 125.66Gb file that I compressed with LZ4 and it takes 17m41s I guess the reason I get 121MB/s is that the loading a file to memory might be slow! since by doing -b it says:

[code]
Update:

[code]

[code]

[2020-03-26 22:48] Cyan4973 commented on #660
This seems in line with the `buffered disk reads` info.
Considering the huge size of the file read, at 125 GB, it's unlikely to be cached.

[2020-03-26 23:09] arashams commented on #660
Thank you!

[2020-04-01 20:29] arashams commented on #660
I know LZ4 uses some kind of CRC, but can I find more details anywhere?
Like the version of the CRC? 16 32 64, right? Or could it be modified?

[2020-04-01 21:01] Cyan4973 commented on #660
The LZ4 frame format defines 2 checksums :
https://github.com/lz4/lz4/blob/dev/doc/lz4_Frame_format.md#general-structure-of-lz4-frame-format

The most common one is the final frame content checksum, generally enabled by default.
As explained in the specification, it's provided by `XXH32`.

[2020-04-01 21:04] arashams commented on #660
So it doesn't use CRCs like RAR or ZIP that use CRCs?
Is there a way to modify it to use CRC instead?

[2020-04-01 21:05] Cyan4973 commented on #660
You can create your own format, starting from the LZ4 block format, which lets implementors select their own choice of headers and checksum.

[2020-04-01 21:55] arashams commented on #660
May I ask which one would you recommend? CRC 32 or XXH32 for better error detection and burst detection?

[2020-04-02 01:08] Cyan4973 commented on #660
`XXH32` was selected because it was much faster

[2020-04-02 01:59] arashams commented on #660
If we consider that we want to compress chunks of data separately (e.g. 1 GB each size) I know that 1/2^n is the probability of a collision, how can I calculate the probability of an undetected error in each chunk?
Thank you :)

[2020-04-02 02:05] Cyan4973 commented on #660
It is 1/2^n for each chunk, since only 2 values are being compared (the stored and the calculated ones).

If error detection is a concern, and a probability of 1 in 4 billion is not good enough, LZ4 frame format also defines a Block checksum, which can be combined with the Content checksum. Now, to remain undetected, an error would need to pass both the block and the content checksums, both being

[2020-04-02 02:39] arashams commented on #660
2 questions

1. n is the number of bits of hash function right? LZ4 has content checksum for each data block (here it means every 1 GB file) followed by a 4-byte checksum so we have 4 * 8bits with a 1/2^(32) single-bit error probability in the whole file.
we have another header checksum we will get  1*8bit checksum with the probability single bit error of 1/2^(8), am i right?

2. I thought it was

[2020-04-04 15:43] kotnis opened #851 "Visual fails the aligment test on 32-bit x86"
Part of code:

#ifndef _MSC_VER  /* for some reason, Visual fails the aligment test on 32-bit x86 :
					 it reports an aligment of 8-bytes,
					 while actually aligning LZ4_stream_t on 4 bytes. */
static size_t LZ4_stream_t_alignment(void)
{
#pragma pack(push, 1) // add this line to fix it!
	struct { char c; LZ4_stream_t t; } t_a;
#pragma pack(pop) // add this line to fix it :)
	return sizeof(t_

[2020-04-04 15:44] kotnis commented on #827
Seems this is solution: https://github.com/lz4/lz4/issues/851

[2020-04-05 09:09] hsdk123 opened #852 "Add cmake build"
Hi, it would be great to have a cmake build of the project here. CMake seems to be spreading in terms of c / c++ builds, and having one for lz4 would allow seamless integration.

[2020-04-14 02:45] szcnick commented on #783
In partial decompression (lz4.c line 1942), the number of remaining characters will be checked, but I do n’t think it should be used differently
before :
if ((ip + length> iend- (2 + 1 + LASTLITERALS)) && (ip + length! = iend))
after:
if (ip + length> iend)
then it will work

[2020-04-15 14:34] simogasp commented on #852
If it is something that the maintainers would agree as contribution I'd be happy to work on it.

[2020-04-15 16:04] felixhandte commented on #852
There is a cmake config in [`contrib/cmake_unofficial`](https://github.com/lz4/lz4/tree/dev/contrib/cmake_unofficial). Does that meet your needs?

Improvements to it are welcome as well.

[2020-04-15 16:17] felixhandte commented on #849
Ah, I'm not surprised that force-inlining everything could be a pessimization for microcontrollers. LZ4 in general is tuned towards big CPUs, with multiple execution units, deep pipelines, fat instruction caches, etc.

You can always turn off our inlining with `-DLZ4_FORCE_INLINE=static`. Potentially we could even merge a check to see if we're on this sort of platform, and turn it off automaticall

[2020-04-16 08:00] dimtass commented on #849
@felixhandte the benchmark is with and without inlining while the code _is running from the FLASH_.

What you see in the code, is another benchmark case where I'm copying the whole function in to two different RAM areas (SRAM and CCRAM) and as expected the performance is much better there. But I've didn't post those results here.

I'm only referring to the difference between w/ and w/o inline when

[2020-04-24 19:31] mrks commented on #847
Ran into the same thing using clang 10 (from brew) on Mac. @traversc - your godbolt link is broken.

[2020-04-24 19:45] traversc commented on #847
@mrks thanks for pointing that out, there was an underscore at the end of the link that github didn't properly captured.  Fixed.

[2020-04-26 09:31] BellaXlp commented on #852
I don't know if the maintainer is willing to accept a cmake improvement similar to the open source ZSTD cmake directory structure, if so, I'd be happy to work on it.

[2020-04-27 10:19] jgh- commented on #827
Piggybacking on this issue, it looks as if `LZ4_initStreamHC` can (and apparently does) fail, but this failure is never checked for in `LZ4_createStreamHC` allowing the program to proceed with garbage data. The result from initStream is only intermittently checked in other functions: `LZ4_compress_HC_extStateHC` and `LZ4_compress_HC_destSize` check for failure but `LZ4_resetStreamHC`, `LZ4_resetSt

[2020-05-03 01:44] alexey-milovidov opened #857 "UBSan, clang-10, lz4.c:818:44: runtime error: applying zero offset to null pointer"
See also:
https://bugzilla.mozilla.org/show_bug.cgi?id=1614375
https://github.com/llvm/llvm-project/blob/master/compiler-rt/test/ubsan/TestCases/Pointer/nullptr-and-nonzero-offset-constants.cpp

[code]

Found here: https://github.com/ClickHouse/ClickHouse/pull/10631

[2020-05-04 07:08] ghost opened #858 "lz4 not working on windows 8.1 PRO X64"
I downloaded the lastest win64.zip at the release section in this github. When I already copied the lz4 file after extracting the zip, I started the application as a administrator but it crashed.

[2020-05-05 03:56] #858 closed, assigned to nobody

[2020-05-05 15:26] Cyan4973 commented on #858
What was the issue ?

[2020-05-07 19:50] soumyadeep2007 opened #859 "LZ4_decompress_safe() failure and wrong return value?"
**Describe the bug**
`LZ4_decompress_safe()` fails when given the true size of `dst` as `dstCapacity`. However, inspired by #421, if we pass in `dstCapacity + 1` in the function call, it succeeds and returns `dstCapacity` (note that we did not even need to allocate that one extra byte to `dst`). PFA lz4_decompress_issue.zip, which has a small program to reproduce and a binary dump of `src` taken w

[2020-05-07 21:33] soumyadeep2007 commented on #859
This occurs not only in the released 1.9.2 version (as reported above), but we have encountered this in the `dev` branch as well (f39b79fb02962a1cd880bbdecb6dffba4f754a1) and also in 1.9.1 and also 1.7.1

[2020-05-08 11:53] BellaXlp commented on #859
@soumyadeep2007

[2020-05-08 11:57] BellaXlp commented on #859
@soumyadeep2007
There is nothing wrong with the lz4 code.
The problem is that your compressed file(decompress_issue.bin) is not correct. There is one byte missing from the compressed file.

The attachment code can be verified.
[demo_modify.zip](https://github.com/lz4/lz4/files/4598782/demo_modify.zip)

[2020-05-13 11:39] WestFarmer opened #864 "not published in EPEL 7 repository ?"
any documentation about this ？

[2020-05-13 18:23] Cyan4973 commented on #864
This question is better redirected to EPEL

[2020-05-13 19:35] soumyadeep2007 commented on #859
@BellaXlp thanks for looking into this for us.

@d and I looked into this some more.

First, we wanted to ensure that our expectations of the API are correct.

Say, we want to `LZ4_compress_destSize` all of 100 bytes of X which is of 100 bytes into a 50 byte destination and the result is Y.

and say we get a result saying that 90 of the 100  bytes have been compressed successfully and 45 bytes of

[2020-05-14 01:15] sandyharvie opened #865 "LZ4F_compressBound and automatic flushing"
When automatic flushing is enabled, there will never be any data buffered upon a call to `LZ4F_compressUpdate` or `LZ4F_compressEnd`. There will obviously also not be any data buffered when `LZ4F_compressBegin` is invoked. This behavior, however, is not reflected in `LZ4F_compressBound`. In particular, `LZ4F_compressBound` always invokes `LZ4F_compressBound_internal` with the `alreadyBuffered` par

[2020-05-14 02:31] sandyharvie commented on #865
FYI, this causes `LZ4F_compressBound` to return a value that is approximately one block size larger than it should be (when automatic flushing is enabled). This is significant for larger block sizes (and also how I came to discover this).

[2020-05-14 21:06] Tragen commented on #783
This bugfix is very important for me. Can you tell me when we can have an official version with this fix included?

[2020-05-15 08:12] BellaXlp commented on #859
Q1 and q2 are both ok.

[2020-05-17 00:17] wolfpld opened #867 "Improve compression speed on ZEN/ZEN2"
MSVC implementation of `LZ4_NbCommonBytes` compiles to `bsf` asm instruction, which is suboptimal on ZEN/ZEN2 uarchs, as indicated below (the code compiles to `R, R` variant):

![obraz](https://user-images.githubusercontent.com/600573/82132046-c3648c00-97db-11ea-8a5e-57294cd287e9.png)

Similar in behavior `tzcnt` instruction has better internal implementation:

![obraz](https://user-images.githubu

[2020-05-25 18:38] pararaum opened #868 "LZ4 decompressor for the 6502 CPU"
The https://lz4.github.io/lz4/ page links for the 6502 code of the LZ4 decompressor to this site: http://pferrie.host22.com/misc/appleii.htm. Unfortunately the web page is not available anymore.

Could you please add a link to either the copy I did https://github.com/pararaum/lz4-6502 or to the archive.org page? You could just add the code to the project if you like.

Thanks!

[2020-05-25 19:00] Cyan4973 commented on #868
Thanks for pointing that out @pararaum !
Indeed, internet weblinks tend to age pretty badly...

Link updated

[2020-05-25 19:01] #868 closed, assigned to nobody

[2020-05-27 09:42] emmenlau commented on #852
Official cmake support would be really appreciated.

Dear core developers, would that not be very helpful to have? Basically cmake significantly reduces the need the need to provide Visual Studio and other platform-specific project files. And I guess having to maintain those must be a pain? For example, the current lz4 project files are missing VS2019, and while the VS2017 project files may work i

[2020-06-01 13:34] sahilpaudel-pe opened #870 "Different language gives different compressed data"
I am using lz4 to compress a data, that data is consumed by different application written in Java, Go & Python.
Thankfully, libraries are available for the said languages.

However, the issue is all of them gives different compressed data base64 string for same string.
So the receiving applications are unable to get the expected data.

Is this a expected behaviour or it is a bug?

Eg: Java.decompr

[2020-06-02 08:55] #864 closed, assigned to nobody

[2020-06-02 21:52] soumyadeep2007 commented on #859
Hey, can you please help me and @d out with our questions above when you get a chance?

Thanks!

[2020-06-02 22:16] Cyan4973 commented on #859
The answer to both questions is yes :
`LZ4_decompress_safe()` is supposed to work with a destination buffer which is _exactly_ the decompressed size, and a destination buffer which is _larger_ than decompressed size.

Now, @BellaXlp seems to imply that the expected decompressed size is wrong. I haven't looked myself at this question, but I'll assume he is right, as it would explain why `LZ4_decomp

[2020-06-03 00:45] soumyadeep2007 commented on #859
@Cyan4973 thanks for your reply!

Thanks! Attached is [demo2.c.txt](https://github.com/lz4/lz4/files/4720354/demo2.c.txt), which is a bit more minimal version of demo1.c.txt. Hopefully, it will help.

So essentially we try to compress a byte array (embedded in the file) of size 614618 into a buffer of size 8112 using `LZ4_compress_destSize()`. 614509 bytes were compressed successfully and all of t

[2020-06-03 05:37] Cyan4973 commented on #859
Thanks for the reproduction case.

The way I understand it, there is probably a bug in `LZ4_compress_destSize()`.
I will have to spend the time to properly trace the scenario and get to the root of the problem.

[2020-06-07 05:04] vaverin opened #872 "lib/lz4: smatch warning in LZ4_decompress_generic()"
Found by smatch in linux kernel:
lib/lz4/lz4_decompress.c:150 LZ4_decompress_generic() warn: maybe use && instead of &

The code was coped from last lz4 mainstream
https://github.com/lz4/lz4/blob/dev/lib/lz4.c#L1865

I believe it is wrong and it was caused by typo in following patch
https://github.com/lz4/lz4/commit/1a191b3f8d26b50a7c1d41590b529ec308d768cd

[2020-06-08 03:40] Cyan4973 commented on #872
Answer : https://github.com/lz4/lz4/pull/873#issuecomment-640310752

[2020-06-08 07:00] iceman1001 opened #874 "LZ4_compress_generic - out-of-bounds"
**Describe the bug**
We recently added LZ4 to the Proxmark3 RRG/Iceman repo and we run CI using Travis CI/Appveyor as well as Coverity Scan on the code base.  Coverity report `out-of-bounds`  with a call to LZ4_compress_generic in lz4.c     See picture below.

Now whether or not its a false positive,  I thought of mention it to you.

**To Reproduce**
Steps to reproduce the behavior:
Run coverity s

[2020-06-08 07:02] iceman1001 commented on #874
Coverity also report two `null pointer dereference` findings in lz4.c

[2020-06-08 09:22] iceman1001 commented on #874
And there is also two missing prototypes,  we deal with it at the moment with patching locally.

ref:
https://github.com/RfidResearchGroup/proxmark3/blob/master/common/get_lz4.sh

[2020-06-08 09:27] doegox commented on #874
note that the patch mentioned above is also removing inlining from LZ4_decompress_generic because this has a large impact on size (2 kbytes on ARM). Maybe sth you want to consider too.

[2020-06-08 11:06] aleksazr opened #875 "Bad compression ratio"
(you guys are probably aware of LZ4 limitations like this...)

I have a binary file of 5712 bytes.
It consists of dword bit-fields.

Compressed with RAR, it gets down to 600 bytes.
Zip gets to 2700.
But "lz4 -9 table.bin" actually slightly increases the size to 5731 bytes.

You can get the file from here:
http://users.beotel.net/~gwh/lz4/table.bin

[2020-06-08 14:46] Cyan4973 commented on #875
LZ4 will only work if there are some segments of at least 4 continuous bytes repeated across the files.
Considering the nature of the data (16-bit bit fields), it seems unlikely.

In contrast, `zip`, `rar`, `zstd` and other compressors in this category will be able to generate compression from the presence of individual bytes of higher probabilities, which are frequent in this file.

So yes, this

[2020-06-08 17:22] degski commented on #875
@Cyan4973 Thanks for that information, that gives good guidance as to use LZ4 or something else depending on the data-type. Or to change the data-type to allow for LZ4 to compress it.

[2020-06-11 11:24] picoHz opened #876 "LZ4F_compressFrame: Using too small compressionLevel causes a crash"
**Describe the bug**
Using `compressionLevel` smaller than -33554430 for `LZ4F_compressFrame` causes the integer overflow and may result in a dangling pointer dereferencing.

Strangely, the following test program crashes when linked with obj files directly (lz4.o, lz4f.o, lz4hc.o and xxhash.o) but seems to work fine with liblz4.a.
It probably depends on the address space layout 🤔 ?

**To Reproduce

[2020-06-12 00:25] Cyan4973 commented on #876
Good point @picoHz !
Enforcing a limit should probably protect from this issue.

[2020-06-13 21:00] ftservice opened #877 "lz4"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-13 21:00] ftservice commented on #877
ok

[2020-06-13 21:31] #877 closed, assigned to nobody

[2020-06-15 07:34] hsiangkao commented on #783
Hi Yann,
I'm also worried about this issue... Since there are potential in-house kernel lz4 updates from lz4 upstream which could break the LZ4_decompress_safe_partial api and cause unexpected EROFS regression...

Could you kindly help consider some direct fix? Thanks Yann!

Thanks,
Gao Xiang

[2020-06-15 07:36] Cyan4973 commented on #783
It's definitely on my todo list.
But my short term availability has cratered towards zero.
I do plan to come back to LZ4 right after this busy period.

[2020-06-15 09:16] Tragen commented on #783
Thanks, is there something how the "community"  could help?
A lot of projects depend on LZ4 like OpenSSL and OpenSSL was also not really maintained.
This looks very similar. If such an important thing breaks, there should be a better way to handle it.

[2020-06-15 16:26] Cyan4973 commented on #783
I plan to spend some time on `lz4` this summer,
with a release planned before the end of the summer.
This fix will be part of the picture.

In the meantime, if your need is more urgent, I can only suggest to apply a fix locally.

[2020-06-17 19:11] YuryChaikou opened #878 "Bitwise & instead of logical && in LZ4HC_FindLongerMatch"
lib\lz4hc.c:1270
Should be && instead of &

    if (favorDecSpeed) {
        if ((matchLength>18) & (matchLength<=36)) matchLength=18;   /* favor shortcut */
    }

[2020-06-17 19:45] felixhandte commented on #878
Hi @YuryChaikou, what makes you think it should be `&&` instead of `&`?

[2020-06-17 19:55] YuryChaikou commented on #878
It's a logical condition where we check if matchLength fits into (18;36] range which is true when both left AND right parts are true.

[2020-06-18 16:54] felixhandte commented on #878
Yes. But since the left and right arguments are constrained to `0` or `1`, `&` also performs exactly the same test, producing exactly the same result over all inputs. So it's not incorrect. And in fact, not only is it not incorrect, it's actually desirable.

The important difference is how they handle their arguments. `&&` is lazy, which means it doesn't evaluate the second argument if the first e

[2020-06-19 03:09] hsiangkao commented on #878
Yeah, it seems already explain something similar before, yet I'm not sure whether e.g the following is an potential optimization...
if ((unsigned int)(matchLength - 19) <= 17) matchLength=18;   /* favor shortcut */

(p.s. if it seems a common pattern, which could introduce some isbetween(x,y) marco for this, actually I used it in my own projects for years...)

Thanks,
Gao Xiang

[2020-06-19 16:45] felixhandte commented on #878
Yeah. In fact, if you pass `-O3` to the example I gave, that's exactly what the compiler emits.

[2020-06-20 07:05] terrelln commented on #878
In this particular case, it is unlikely to matter if you use `&` or `&&`. Any differences are likely because of noise like alignment, or the compiler happens to pick a better implementation for one version than another.

When it matters more is when you do a memory access. Then `condition && access` cannot be optimized the same way as `condition & access`, because maybe the memory access is unsafe

[2020-06-20 13:12] afcady opened #880 "Support mozilla/firefox non-standard lz4 header ("mozlz4")"
Mozilla & firefox starting using lz4 to compress its automatically-generated JSON files (used for configuration, history, bookmarks, etc.) before the lz4 on-disk format was standardized.  They invented their own disk format, now known as "mozlz4," which as far as I understand, is just lz4 but with a slightly different header.

Specifically, Mozlz4 uses the first 8 fixed bytes as a magic number, an

[2020-06-20 15:17] Cyan4973 commented on #880
Given the presence of a magic number, transition from one format to another should be possible in a relatively graceful manner (support decoding of both formats, then switch to new format). It's strange this effort wasn't even started at some point, since it does not seem complex to do. I also don't see where it's specified that Mozilla will never update this format, but can understand that it's n

[2020-06-21 17:37] afcady commented on #880
IMO it would be fine to seek to the end first to get the position, so you can know the size in advance.  And just fail if you can't do that seek.  This code is always going to be operating on files anyway.

[2020-06-24 07:01] saipreetham08 opened #881 "Compressible string not compressed"
Hi!

I just wanted to know if the string **"qabcdefxwvuabcdefghi"** is compressible or not?
According to my understanding of the algorithm, it is compressible and should yield the result :
0xb0 0x71 0x61 0x62 0x63 0x64 0x65 0x66 0x78 0x77 0x76 0x75 0x0a 0x00 0x50 0x65 0x66 0x67 0x68 0x69

In the above compressed output, the last 5 bytes are sent as literals and the 'abcd' beginning at index 11 is

[2020-06-24 10:22] mwgamera commented on #881
“The last match must start at least 12 bytes before the end of block.”

[2020-06-24 16:00] Cyan4973 commented on #881
@mwgamera provided the right answer
https://github.com/lz4/lz4/blob/v1.9.2/doc/lz4_Block_format.md#end-of-block-restrictions

[2020-06-25 18:27] louay-ayadi opened #882 "Compression ratio bad for integers"
Hello, i am using lz4 to compress an array of 20M integers, but the compression seems to be not as expected,

I expect to have a ratio of at least 50% but it's like 80% which is not good,

the array is:
int n=20000000
int * array=new int[n];
 	//Fill the array
	for(size_t i=0;i<n;i++)
        array[i]=rand()%10000;

then i split the array into chunks of 32000 integers and compress each chunk aside

[2020-06-25 20:02] aleksazr commented on #882
Not all data is compressible, especially random data.
Why don't you save the data to a disk file, and give it to winrar and then compare it with LZ4.

[2020-06-25 20:56] louay-ayadi commented on #882
Well i tried them and they are much better, but i don't get why aren't they compressed and the algorithm works in blocks of 4 bytes and that's the matter with integers and the are many repeated elements because it's rand()%1000 and an array each one contains 32000 element..

[2020-06-25 21:03] Cyan4973 commented on #882
Indeed, compression of integers is a particularly difficult scenario for LZ4.
Since it works by finding repeated segments of 4+ bytes, presenting lot of small independent elements of exactly 4 bytes is kind of a worst case scenario.

Looking at the test code, it also uses `rand()`, albeit with a `%` operation.
Random data is not compressible.
"real" datasets tend to feature correlations, which are

[2020-06-25 21:17] louay-ayadi commented on #882
Well it's 1000 sorry for being unclear, but with having 32000 random numbers all of them between 0 and 1000, surely there many repeated values, so the compression ratio is expected to be high or am i missing something here?

[2020-06-25 21:25] Cyan4973 commented on #882
Not really.
On a 64KB range (max LZ4 window size), there are 16K 32-bit integers.
So if it's `% 1000`, each integer value is present on average 16 times.

But each time, it's only possible to compress 4 bytes, at the cost of a 3 bytes reference.
So benefits are very limited.
Plus there are additional costs and inefficiencies at play, especially in the "fast" compression mode.
So you are looking at

[2020-06-25 21:38] louay-ayadi commented on #882
Well yes that should be fine, i will test it with real datasets ,
Thanks for your reply.

[2020-06-26 00:44] louay-ayadi commented on #882
So as you said , if the real file is 80MB and the compressed file is 48 MB that should be fine ?

[2020-06-26 00:48] Cyan4973 commented on #882
Sounds like fine to me.
Compression ratio depends primarily on how "regular" the source is,
so just saying that the file contains a lot of integers is not enough to predict a compression ratio,
these integers could be a bunch of zeroes, in which case they would compress extremely well,
or they could be almost random, in which case they would not compress at all.

But for a file which is described

[2020-06-26 09:20] emmenlau opened #883 "Can not build shared library (dll) on MSVC with cmake"
I very much like the cmake based build instructions, they work quite well on many platforms. But recently I tried to switch from a static to a shared library build. Since then I receive the following error on MSVC with Visual Studio 2017 and 2019:
[code]

This must be in some way dependent on building the command line tool `lz4.exe`, because when disabling all command line tools the build works.

[2020-06-26 14:02] #882 closed, assigned to nobody

[2020-06-30 09:46] iceman1001 commented on #874
@Cyan4973  I understand you are busy and might not have time to setup Covery Scan for this project but I can add you the Coverty Scan for proxmark so you can look at the findings there.  Might be easier for you and speed up things?

[2020-07-06 17:07] Cyan4973 commented on #874
I plan on coming back to work on `lz4` during the Summer.
I presume I already have a branch setup to use coverity, though it must be updated manually, or something like that.
Will look into it more once I've got allocated time for it.

[2020-07-10 19:16] sgf commented on #875
If lz4 has requirements or restrictions on the source data, can it be listed in readme or wiki? I don't seem to see the relevant introduction at the moment. Am I missed something?

[2020-07-14 01:29] Cyan4973 commented on #852
As mentioned by @felixhandte , `cmake` support exists in [`contrib/cmake_unofficial`](https://github.com/lz4/lz4/tree/dev/contrib/cmake_unofficial).
We gladly accept new patches in order to improve its capabilities.
We could also reorganize the repository to create a `build` directory where `cmake` would appear alongside visual studio projects, which should increase its visibility.

[2020-07-16 06:43] Cyan4973 commented on #867
Thanks for the insightful explanation @wolfpld ,
is there an expectation of "minimum version of Visual Studio" in order for `_tzcnt_u64()` to be valid ?
As the underlying assembly instruction was introduced as part of BMI1, I would expect olderVS  versions to not be aware of its existence.

[2020-07-16 09:05] wolfpld commented on #867
Good question! After some googling, brotli has a check for MSVC 12: https://github.com/google/brotli/pull/636/files

This seems to be `MSVC++ 12.0  _MSC_VER == 1800 (Visual Studio 2013 version 12.0)`.

[2020-07-16 16:37] Cyan4973 commented on #867
OK, thanks for checking,
therefore, for maximum portability,
we probably need to introduce a version check based on `_MSC_VER`
and use the newer variant on recent enough VS versions only.

[2020-07-20 19:34] felixhandte commented on #875
LZ4 can operate on any byte-stream, so in one sense there are no restrictions on the input. But it will only be *effective* when the data is compressible using the tools available in LZ4. That tool (the language LZ4 uses to describe messages it encodes) is described [here](https://github.com/lz4/lz4/blob/master/doc/lz4_Frame_format.md) and particularly [here](https://github.com/lz4/lz4/blob/master

[2020-07-21 02:10] sgf commented on #875
it seems that zstd is more suitable for most situations.
Although LZ4 has higher performance, it may not be effective in some cases due to insufficient versatility.

[2020-07-21 02:54] terrelln commented on #875
Yes. LZ4 is great when you need extremely fast compression or decompression, and are willing to trade off quite a bit of compressed size to get it. For most use cases the tradeoff that zstd offers is more compelling, since you save a lot of compressed size and it is still very fast.

[2020-07-24 04:39] jean-airoldie opened #887 "Compression & decompression context thread safety"
Can the `LZ4F_cctx` returned from `LZ4F_createCompressionContext` and the `LZ4F_dctx` returned from `LZ4F_createDecompressionContext` be shared safely accross threads? I couldn't find anything on the matter in the doc.

[2020-07-24 14:56] Cyan4973 commented on #887
It depends on what you mean by "shared safely accross threads".

The safest answer is "no". To ensure that everything works without difficulty, a context shall be reserved for exclusive use by a single thread.

A more complex answer is "yes, if...". One has to ensure that, for a given context and session, the invocations form a complete operation, which typically means that the same thread is in c

[2020-07-24 17:34] jean-airoldie commented on #887
Would it be valid if thread A creates a context then gives exclusive ownership of that context to thread B? By exclusive ownership I mean that thread A will give its only ptr to the context to thread B and thread B will inherit the responsibility to properly deallocate that context. An instance of this wouldn't be valid is if a context has some thread-local storage for instance.

Does reusing the

[2020-07-24 17:39] Cyan4973 commented on #887
Yes, that works fine.
As long as there is a single owner at a time, all is fine.

There is no thread-local storage in LZ4

Depends on the scenario, and depends on what is meant by "significant",
but I would say that, in general, re-using contexts from a pool tend to be beneficial for performance.

[2020-07-24 17:41] #887 closed, assigned to nobody

[2020-07-24 17:41] felixhandte commented on #887
Here's an example of such a structure that we use inside Facebook: [folly::compression::CompressionCoreLocalContextPool](https://github.com/facebook/folly/blob/master/folly/compression/CompressionCoreLocalContextPool.h).

[2020-07-24 17:43] jean-airoldie commented on #887
Cool, I'll look into it!.

[2020-07-27 14:42] tpetazzoni opened #888 "Programs should be linked against the shared library"
On an embedded system where space is tight, we have:
[code]
In other words, because the lz4 program does not link against the shared library, but duplicates the lz4 code, it is even larger than the library itself. It would be nice to be able to link dynamically against the lz4 library.

[2020-07-27 14:59] picoHz opened #889 "Yet another Rust binding released"
I recently published a new liblz4 binding library for Rust. 🎉
This provides up-to-date liblz4 functions including LZ4_HC.
https://github.com/picoHz/lzzzz

Could you add this crate to https://lz4.github.io/lz4/#interoperable-lz4 ?

[2020-07-28 02:11] #881 closed, assigned to nobody

[2020-07-28 02:12] #878 closed, assigned to nobody

[2020-07-28 02:13] #875 closed, assigned to nobody

[2020-07-28 02:18] #872 closed, assigned to nobody

[2020-07-28 02:19] Cyan4973 commented on #865
Fixed in #866

[2020-07-28 02:19] #865 closed, assigned to nobody

[2020-07-28 02:32] #836 closed, assigned to nobody

[2020-07-28 02:37] Cyan4973 commented on #828
The `lz4` project features a `/contrib` directory where it's possible to host such contributions

[2020-07-28 02:39] Cyan4973 commented on #824
I presume that's because Apple already offers a public symbol named `LZ4_decompress_safe()` for `iOS` applications ?

[2020-07-29 00:28] Cyan4973 commented on #776
`contentSize` is a field that is controlled through the optional `const LZ4F_preferences_t* preferencesPtr` parameter.
So it's possible to instruct `LZ4F_compressFrame()` to insert this information into the frame header.
Note however that this field costs an additional 8 bytes.

[2020-07-29 00:40] Cyan4973 commented on #775
`contentSize == 0` cannot be represented with this API.
This is known limitation of the API, without any clear work-around, and it will remain so for the foreseeable future.

Indeed, allowing this distinction would have been useful when the API was created, years ago.
Unfortunately, now that it's widely in use, any change to this convention would break most if not all existing users of this API.

[2020-07-29 00:40] #775 closed

[2020-07-29 18:45] #754 closed

[2020-08-05 08:50] sunny-shu commented on #883
@Cyan4973 @emmenlau

It's OK to generate dynamic libraries. The problem is to link dynamic libraries.

Visual studio link dynamic library mechanism: under the window platform, when the DLL project is compiled through visual studio, the target DLL file and a LIB file with the same name will be generated. When other projects need to reference the DLL, the LIB file should be introduced into the new p

[2020-08-05 09:03] emmenlau commented on #883
Dear @sunny-shu , thanks for your help!

But I am quite certain that there is some misunderstanding. There is no problem to build and link a shared library (DLL) on Windows with cmake. It is not difficult. The problem in lz4 is somewhere else. I think the problem is related to the names of targets: `lz4.exe`, `lz4.dll` and `lz4.lib` have all very similar target names, and so this may create confus

[2020-08-05 11:43] sunny-shu commented on #883
@emmenlau

[2020-08-05 11:59] sunny-shu commented on #883
@emmenlau

The following is a simple code file. The purpose is to explain that it is not the library name problem, but the Lib files is linked when visual studio compiles, and the DLL file is linked when executing.

environment: Visual Studio 2019 Community(Window 10)
[recurrence_problem_applet.zip](https://github.com/lz4/lz4/files/5028123/recurrence_problem_applet.zip)

[2020-08-05 12:33] emmenlau commented on #883
Dear @sunny-shu , maybe then the confusion is on my side: I'm not sure what you are saying. Can you please help me understand?

My point is, that cmake can build and link correctly with shared libraries on Windows with Visual Studio. Many many projects do that, including at least 20 shared libraries that I'm maintaining. There is usually only one potential problem, and that is about exporting shar

[2020-08-05 12:46] emmenlau commented on #883
To help this discussion, I have implemented a workaround for the problem. See https://github.com/lz4/lz4/pull/891. When you add this change and set "BUILD_PROGRAMS=OFF" in cmake (for example using `cmake -DBUILD_PROGRAMS=OFF` then you can make a successful shared library build on Windows.

I have used this shared lz4 in other projects like folly, Qt, and others successfully (or at least the other

[2020-08-05 14:01] emmenlau commented on #883
I've made further progress with the problem. It is related to something I said above:

See the italic part: *exporting shared library symbols*. This is currently not enabled on MSVC. I've added the corresponding defines to CMakeLists.txt and the build starts to work.

[2020-08-05 14:05] emmenlau commented on #883
I've updated https://github.com/lz4/lz4/pull/891 to reflect this change. Please review?

[2020-08-05 19:28] felixhandte commented on #822
Hi @buweilv,

Thanks for bringing this to our attention! Sorry it took so long to get to this. I believe you're correct. `dirty` is never set by our codebase. It remains only to detect uninitialized memory passed in by users, for which it isn't really sufficient. So I've put up #892 to remove this.

[2020-08-07 02:27] mughal61 opened #894 "Not able to install lz4 (0.5.2) as a dependency for my node (6.2.1) build"
**Describe the bug**
I am trying to build/install node packages that I have listed in package.json file and that includes lz4 v0.5.2 as well.
When I run npm install, its failing with the below error:

 lz4@0.5.2 install /Users/username/Desktop/code/master/mobile/node_modules/lz4

  CXX(target) Release/obj.target/lz4/lib/binding/lz4_binding.o
clang: warning: include path for libstdc++ headers not f

[2020-08-07 03:58] Cyan4973 commented on #894
It's probably better to direct this question towards the nodejs repository concerned.

This repository is about the native version only, it is not relevant for node packages.

[2020-08-07 04:15] mughal61 commented on #894
I am trying to install lz4 v0.5.2 and getting above errors, not sure what got changed and now I can't build it.

[2020-08-07 04:17] Cyan4973 commented on #894
I'm not sure what you are trying to do, but this thing does not come from this repository.

[2020-08-07 04:34] mughal61 commented on #894
I am trying to download and install all dependencies defined in packages.json file, that has a package listed i.e.
"lz4": "0.5.2",

during download and installation of other dependencies, when it tries "lz4", I am getting error that I mentioned in my main post.

Here is the rest of the error, hopefully it'll make more sense why it can be some issue with lz4.

  CXX(target) Release/obj.target/lz4/l

[2020-08-07 15:06] felixhandte commented on #894
@mughal61, the compiler error you're seeing is clearly in C++ code, none of which is present in the LZ4 codebase maintained here.  This is all C. The issue you're seeing is with the binding that takes the core LZ4 library maintained here and makes it available to nodejs. It looks like this is the component you're having trouble with: https://github.com/pierrec/node-lz4.

[2020-08-07 21:40] mughal61 commented on #894
Thanks for catching this out, I appreciate it.

[2020-08-10 00:33] Cyan4973 commented on #889
added

[2020-08-10 00:33] #889 closed, assigned to Cyan4973

[2020-08-10 19:52] #876 closed, assigned to Cyan4973

[2020-08-10 21:06] #822 closed, assigned to felixhandte

[2020-08-10 21:31] #832 closed, assigned to Cyan4973

[2020-08-10 21:39] #894 closed, assigned to nobody

[2020-08-11 19:20] Cyan4973 commented on #888
This request is not trivial to satisfy, because the CLI invokes symbols which are part of the "unstable" API, protected by build macros such as `LZ4_STATIC_LINKING_ONLY `, and are therefore not exposed by default on the dynamic library interface.

This can be achieved nonetheless, by forcing the library to expose unstable symbols, using build macros such as `LZ4_PUBLISH_STATIC_FUNCTIONS` : https:/

[2020-08-12 21:05] Cyan4973 commented on #783
I've spent a bit of time on this issue, and may have a better understanding now.
Let's discuss the described issue :

OK, so this part is important.
`LZ4_decompress_safe_partial()` was primarily developed to allow decompression of only the beginning of a block, instead of the entire block. It was primarily a speed hack.

The use case described is entirely different. Here, the objective is to decom

[2020-08-12 22:03] Cyan4973 commented on #783
I'm currently wondering if it's a good idea to expose a function in charge of both objectives:
decompress less data than a full block, from an exact compressed size,
or decompress full block, but provide an upper bound of compressed size.

In the first scenario, it's also allowed to request a decompressed size which is _larger_ than full block.
In which case, the decoder will only decompress _up t

[2020-08-13 02:37] hsiangkao commented on #783
Hi Cyan,

Yeah, but there exists the third scenario, decompress a partial decompressed size
(metadata promise strictly <= exact decompressed size) with a upper bound
compressed size, that is
also what EROFS scenario I raised from v1.8.3, and it supports fine and has been
merged into Linux kernel instead of my old customized code...
https://github.com/lz4/lz4/issues/566
(EROFS now also mainly suppo

[2020-08-18 17:26] Cyan4973 commented on #888
Added an example target, creating a variant of `lz4` CLI linked to a specific build of dynamic library `liblz4` which also exposes experimental / unstable symbols. The CLI will fail at execution time if linked to a "regular" dynamic library without these symbols available.

[2020-08-18 17:26] #888 closed, assigned to Cyan4973

[2020-08-18 22:37] Cyan4973 commented on #783
That's a good datapoint, @hsiangkao, I'll make sure this capability is delivered in some way within next release.

[2020-08-20 03:07] #781 closed

[2020-08-20 03:08] #852 closed, assigned to terrelln

[2020-08-21 23:47] jlittle22 commented on #712
I'd love to work on this issue. Is there anyway I can get more info?